# Extracting data on Social Expenditure in OECD countries

# Link

OECD data explorer:
https://data-explorer.oecd.org/

SOCIAL EXPENDITURE (EU, USA, AUSTRALIA): https://data-explorer.oecd.org/vis?tm=Social%20expenditure&pg=0&snb=139&vw=tb&df[ds]=dsDisseminateFinalDMZ&df[id]=DSD_SOCX_AGG%40DF_SOCX_AGG&df[ag]=OECD.ELS.SPD&df[vs]=1.0&dq=AUS%2BAUT%2BBEL%2BCZE%2BDNK%2BEST%2BFIN%2BDEU%2BFRA%2BGRC%2BHUN%2BISL%2BIRL%2BISR%2BITA%2BLVA%2BLTU%2BLUX%2BNLD%2BNZL%2BNOR%2BPOL%2BPRT%2BSVK%2BSVN%2BESP%2BSWE%2BCHE%2BTUR%2BGBR%2BUSA.A..PT_OTE_S13%2BPT_B1GQ.ES10._T._T.&pd=1989%2C2022&to[TIME_PERIOD]=false&ly[cl]=TIME_PERIOD&ly[rw]=REF_AREA%2CCOMBINED_UNIT_MEASURE

# Imports

In [4]:
import pandas as pd
import numpy as np

# 1) Extracting data from csv file

In [6]:
df = pd.read_csv("social_expenditure_eu_usa_australia.csv")

# 2) Initial exploration of data (for cleaning and transformation)

In [8]:
df.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,ACTION,REF_AREA,Reference area,FREQ,Frequency of observation,MEASURE,Measure,...,OBS_STATUS,Observation status,UNIT_MULT,Unit multiplier,DECIMALS,Decimals,CURRENCY,Currency,BASE_PER,Base period
0,DATAFLOW,OECD.ELS.SPD:DSD_SOCX_AGG@DF_SOCX_AGG(1.0),Social expenditure aggregates,I,HUN,Hungary,A,Annual,SOCX,Social expenditure,...,A,Normal value,0,Units,1,One,_Z,Not applicable,NaN,NaN
1,DATAFLOW,OECD.ELS.SPD:DSD_SOCX_AGG@DF_SOCX_AGG(1.0),Social expenditure aggregates,I,HUN,Hungary,A,Annual,SOCX,Social expenditure,...,A,Normal value,0,Units,1,One,_Z,Not applicable,NaN,NaN
2,DATAFLOW,OECD.ELS.SPD:DSD_SOCX_AGG@DF_SOCX_AGG(1.0),Social expenditure aggregates,I,HUN,Hungary,A,Annual,SOCX,Social expenditure,...,A,Normal value,0,Units,1,One,_Z,Not applicable,NaN,NaN
3,DATAFLOW,OECD.ELS.SPD:DSD_SOCX_AGG@DF_SOCX_AGG(1.0),Social expenditure aggregates,I,HUN,Hungary,A,Annual,SOCX,Social expenditure,...,A,Normal value,0,Units,1,One,_Z,Not applicable,NaN,NaN
4,DATAFLOW,OECD.ELS.SPD:DSD_SOCX_AGG@DF_SOCX_AGG(1.0),Social expenditure aggregates,I,HUN,Hungary,A,Annual,SOCX,Social expenditure,...,A,Normal value,0,Units,1,One,_Z,Not applicable,NaN,NaN

In [9]:
df.describe()

,TIME_PERIOD,Time period,OBS_VALUE,Observation value,UNIT_MULT,DECIMALS,BASE_PER,Base period
count,1821.000000,0.0,1779.000000,0.0,1821.0,1821.0,0.0,0.0
mean,2006.057111,NaN,31.922561,NaN,0.0,1.0,NaN,NaN
std,8.862629,NaN,14.063110,NaN,0.0,0.0,NaN,NaN
min,1989.000000,NaN,0.000000,NaN,0.0,1.0,NaN,NaN
25%,1999.000000,NaN,19.617000,NaN,0.0,1.0,NaN,NaN
50%,2006.000000,NaN,27.704000,NaN,0.0,1.0,NaN,NaN
75%,2014.000000,NaN,46.295000,NaN,0.0,1.0,NaN,NaN
max,2022.000000,NaN,58.241000,NaN,0.0,1.0,NaN,NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1821 entries, 0 to 1820
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   STRUCTURE                 1821 non-null   object
 1   STRUCTURE_ID              1821 non-null   object
 2   STRUCTURE_NAME            1821 non-null   object
 3   ACTION                    1821 non-null   object
 4   REF_AREA                  1821 non-null   object
 5   Reference area            1821 non-null   object
 6   FREQ                      1821 non-null   object
 7   Frequency of observation  1821 non-null   object
 8   MEASURE                   1821 non-null   object
 9   Measure                   1821 non-null   object
 10  UNIT_MEASURE              1821 non-null   object
 11  Unit of measure           1821 non-null   object
 12  EXPEND_SOURCE             1821 non-null   object
 13  Expenditure source        1821 non-null   object
 14  SPENDING_TYPE             1821 non-null   object
 15  Spending type             1821 non-null   object
 16  PROGRAMME_TYPE            1821 non-null   object
 17  Programme type            1821 non-null   object
 18  PRICE_BASE                1821 non-null   object
 19  Price base                1821 non-null   object
 20  TIME_PERIOD               1821 non-null   int64
 21  Time period               0 non-null      float64
 22  OBS_VALUE                 1779 non-null   float64
 23  Observation value         0 non-null      float64
 24  OBS_STATUS                1821 non-null   object
 25  Observation status        1821 non-null   object
 26  UNIT_MULT                 1821 non-null   int64
 27  Unit multiplier           1821 non-null   object
 28  DECIMALS                  1821 non-null   int64
 29  Decimals                  1821 non-null   object
 30  CURRENCY                  1821 non-null   object
 31  Currency                  1821 non-null   object
 32  BASE_PER                  0 non-null      float64
 33  Base period               0 non-null      float64
dtypes: float64(5), int64(3), object(26)
memory usage: 483.8+ KB

In [11]:
unit_of_measure = df["Unit of measure"].value_counts()
print(unit_of_measure)

Unit of measure
Percentage of GDP                               1022
Percentage of general government expenditure     799
Name: count, dtype: int64

In [12]:
df.isna().sum()

STRUCTURE                      0
STRUCTURE_ID                   0
STRUCTURE_NAME                 0
ACTION                         0
REF_AREA                       0
Reference area                 0
FREQ                           0
Frequency of observation       0
MEASURE                        0
Measure                        0
UNIT_MEASURE                   0
Unit of measure                0
EXPEND_SOURCE                  0
Expenditure source             0
SPENDING_TYPE                  0
Spending type                  0
PROGRAMME_TYPE                 0
Programme type                 0
PRICE_BASE                     0
Price base                     0
TIME_PERIOD                    0
Time period                 1821
OBS_VALUE                     42
Observation value           1821
OBS_STATUS                     0
Observation status             0
UNIT_MULT                      0
Unit multiplier                0
DECIMALS                       0
Decimals                       0
CURRENCY                       0
Currency                       0
BASE_PER                    1821
Base period                 1821
dtype: int64

In [13]:
df.duplicated().sum()

0

# 3) Transforming and cleaning data

### 3.1) Removing all irrelevant columns

In [16]:
df.drop(columns=['PROGRAMME_TYPE', 'SPENDING_TYPE', 'EXPEND_SOURCE', 'MEASURE', 'Price base', 'BASE_PER', 'Base period', 'STRUCTURE', 'STRUCTURE_ID', 'ACTION', 'FREQ', 'CURRENCY', 'Currency', 'Decimals',  'Time period', 'Observation value', 'PRICE_BASE', 'STRUCTURE_NAME', 'Frequency of observation', 'UNIT_MULT', 'DECIMALS', 'Measure', 'UNIT_MEASURE', 'Unit multiplier', 'REF_AREA', 'Expenditure source', 'Spending type', 'Programme type', 'OBS_STATUS'], inplace = True)

In [17]:
df.head()

,Reference area,Unit of measure,TIME_PERIOD,OBS_VALUE,Observation status
0,Hungary,Percentage of general government expenditure,2014,42.619,Normal value
1,Hungary,Percentage of general government expenditure,2015,40.403,Normal value
2,Hungary,Percentage of general government expenditure,2016,43.110,Normal value
3,Hungary,Percentage of general government expenditure,2017,41.605,Normal value
4,Hungary,Percentage of general government expenditure,2018,40.342,Normal value

### 3.2) Removing all non-'normal values' in Observation status to get the most precise values

In this data set it's the same as removing all missing values. But in other data sets from OECD Observation status values
includes 'Estimated value', 'Provisional value', 'Time series break', 'Definition differs'

In [35]:
obs_status = df["Observation status"].value_counts()
print(obs_status)

Observation status
Normal value                                        1779
Missing value; data exist but were not collected      34
Missing value; data cannot exist                       8
Name: count, dtype: int64

In [37]:
df.isna().sum()

Reference area         0
Unit of measure        0
TIME_PERIOD            0
OBS_VALUE             42
Observation status     0
dtype: int64

In [39]:
df = df[df["Observation status"] == "Normal value"]
obs_status = df["Observation status"].value_counts()
print(obs_status)

Observation status
Normal value    1779
Name: count, dtype: int64

### 3.3) Checking for missing values again

In [42]:
df.isna().sum()

Reference area        0
Unit of measure       0
TIME_PERIOD           0
OBS_VALUE             0
Observation status    0
dtype: int64

### 3.4) Checking for duplicates and removing them

In [45]:
df.duplicated().sum()

0

In [47]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

0

### 3.5) Choosing only one unit of measure: "Percentage of GDP" (most rows)

In [50]:
df = df[df["Unit of measure"]=="Percentage of GDP"]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 989 entries, 25 to 1795
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Reference area      989 non-null    object
 1   Unit of measure     989 non-null    object
 2   TIME_PERIOD         989 non-null    int64
 3   OBS_VALUE           989 non-null    float64
 4   Observation status  989 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 46.4+ KB

### 3.6) Removing 'Observation status' and 'Unit of measure' columns because they aren'tn relevant anymore

In [53]:
df.drop(columns=['Observation status', 'Unit of measure'], inplace=True)
df.head()

   Reference area  TIME_PERIOD  OBS_VALUE
25         Greece         2008     21.571
26         Greece         2009     23.912
27         Greece         2010     25.017
28         Greece         2011     26.464
29         Greece         2012     27.426

### 3.7) Renaming columns

In [57]:
df.rename(columns= {"Reference area": "Country", "TIME_PERIOD": "Year", "OBS_VALUE": "Social expenditure as % of GDP"}, inplace=True)

In [59]:
df.head()

   Country  Year  Social expenditure as % of GDP
25  Greece  2008                          21.571
26  Greece  2009                          23.912
27  Greece  2010                          25.017
28  Greece  2011                          26.464
29  Greece  2012                          27.426

# 4) Storing data frame in file

In [62]:
with pd.HDFStore('dataframes.h5') as store:
    store['social_exp_df'] = df