In [1]:
import pandas as pd
import numpy as np
import pycountry

# LINKS

#### World Happines Report:
- https://worldhappiness.report/data/

#### Eurostat:

- UNEMPLOYMENT: https://ec.europa.eu/eurostat/databrowser/view/tps00203/default/table?lang=en&category=t_labour.t_employ.t_lfsi.t_une

#### OECD data explorer:
- https://data-explorer.oecd.org/

- SOCIAL EXPENDITURE (EU, USA, AUSTRALIA): https://data-explorer.oecd.org/vis?tm=Social%20expenditure&pg=0&snb=139&vw=tb&df[ds]=dsDisseminateFinalDMZ&df[id]=DSD_SOCX_AGG%40DF_SOCX_AGG&df[ag]=OECD.ELS.SPD&df[vs]=1.0&dq=AUS%2BAUT%2BBEL%2BCZE%2BDNK%2BEST%2BFIN%2BDEU%2BFRA%2BGRC%2BHUN%2BISL%2BIRL%2BISR%2BITA%2BLVA%2BLTU%2BLUX%2BNLD%2BNZL%2BNOR%2BPOL%2BPRT%2BSVK%2BSVN%2BESP%2BSWE%2BCHE%2BTUR%2BGBR%2BUSA.A..PT_OTE_S13%2BPT_B1GQ.ES10._T._T.&pd=1989%2C2022&to[TIME_PERIOD]=false&ly[cl]=TIME_PERIOD&ly[rw]=REF_AREA%2CCOMBINED_UNIT_MEASURE

- UNEMPLOYMENT: https://data-explorer.oecd.org/vis?fs[0]=Topic%2C1%7CEmployment%23JOB%23%7CUnemployment%20indicators%23JOB_UNEMP%23&pg=0&fc=Topic&bp=true&snb=15&vw=tb&df[ds]=dsDisseminateFinalDMZ&df[id]=DSD_LFS%40DF_IALFS_UNE_Q&df[ag]=OECD.SDD.TPS&df[vs]=1.0&dq=ZAF%2BRUS%2BIDN%2BHRV%2BBGR%2BBRA%2BGBR%2BUSA%2BTUR%2BCHE%2BSWE%2BESP%2BSVN%2BSVK%2BPRT%2BPOL%2BNOR%2BNZL%2BNLD%2BMEX%2BLUX%2BLTU%2BLVA%2BKOR%2BJPN%2BITA%2BISR%2BIRL%2BISL%2BHUN%2BGRC%2BDEU%2BFRA%2BFIN%2BEST%2BDNK%2BCRI%2BCOL%2BCZE%2BCHL%2BBEL%2BCAN%2BAUT%2BAUS.UNE.._Z.Y._T.Y_GE15..A&pd=2004%2C2024&to[TIME_PERIOD]=false&ly[cl]=TIME_PERIOD&ly[rw]=REF_AREA

#### European Comission: 

- https://taxation-customs.ec.europa.eu/taxation/economic-analyses/taxation-trends-eu/data-taxation-trends_en
- https://webgate.ec.europa.eu/taxation_customs/redisstat/databrowser/explore/all/DATA_ON_TAX?lang=en&display=card&sort=category

# 1) Data ingestion

## 1.1) GDP data

### 1.1.1) (OECD) GDP 1970-2023 deflated

In [7]:
gdp_1970_deflated_df = pd.read_csv("oecd_gdp_1970_2023_deflated.csv")

In [8]:
gdp_1970_deflated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2624 entries, 0 to 2623
Data columns (total 44 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   STRUCTURE                                       2624 non-null   object
 1   STRUCTURE_ID                                    2624 non-null   object
 2   STRUCTURE_NAME                                  2624 non-null   object
 3   ACTION                                          2624 non-null   object
 4   FREQ                                            2624 non-null   object
 5   Frequency of observation                        2624 non-null   object
 6   REF_AREA                                        2624 non-null   object
 7   Reference area                                  2624 non-null   object
 8   SECTOR                                          2624 non-null   object
 9   Institutional sector                            2624 non-null   object
 10  COUNTERPART_SECTOR                              2624 non-null   object
 11  Counterpart institutional sector                2624 non-null   object
 12  TRANSACTION                                     2624 non-null   object
 13  Transaction                                     2624 non-null   object
 14  INSTR_ASSET                                     2624 non-null   object
 15  Financial instruments and non-financial assets  2624 non-null   object
 16  ACTIVITY                                        2624 non-null   object
 17  Economic activity                               2624 non-null   object
 18  EXPENDITURE                                     2624 non-null   object
 19  Expenditure                                     2624 non-null   object
 20  UNIT_MEASURE                                    2624 non-null   object
 21  Unit of measure                                 2624 non-null   object
 22  PRICE_BASE                                      2624 non-null   object
 23  Price base                                      2624 non-null   object
 24  TRANSFORMATION                                  2624 non-null   object
 25  Transformation                                  2624 non-null   object
 26  TABLE_IDENTIFIER                                2624 non-null   object
 27  Table identifier                                2624 non-null   object
 28  TIME_PERIOD                                     2624 non-null   int64
 29  Time period                                     0 non-null      float64
 30  OBS_VALUE                                       2624 non-null   float64
 31  Observation value                               0 non-null      float64
 32  REF_YEAR_PRICE                                  2624 non-null   int64
 33  Price reference year                            0 non-null      float64
 34  CONF_STATUS                                     2624 non-null   object
 35  Confidentiality status                          2624 non-null   object
 36  DECIMALS                                        2624 non-null   int64
 37  Decimals                                        2624 non-null   object
 38  OBS_STATUS                                      2624 non-null   object
 39  Observation status                              2624 non-null   object
 40  UNIT_MULT                                       2624 non-null   int64
 41  Unit multiplier                                 2624 non-null   object
 42  CURRENCY                                        2624 non-null   object
 43  Currency                                        2624 non-null   object
dtypes: float64(4), int64(4), object(36)
memory usage: 902.1+ KB

In [9]:
gdp_years = gdp_1970_deflated_df["TIME_PERIOD"].unique()
gdp_years.sort()
gdp_years

array([1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980,
       1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991,
       1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002,
       2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023],
      dtype=int64)

## 1.2) Social Policy Expenditure Data

### 1.2.1) Total social policy expenditure as percentage of GDP

In [12]:
expend_on_social_policy_df = pd.read_csv("expenditure_on_social_policy.csv")

In [13]:
expend_on_social_policy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   STRUCTURE                 366 non-null    object
 1   STRUCTURE_ID              366 non-null    object
 2   STRUCTURE_NAME            366 non-null    object
 3   ACTION                    366 non-null    object
 4   REF_AREA                  366 non-null    object
 5   Reference area            366 non-null    object
 6   FREQ                      366 non-null    object
 7   Frequency of observation  366 non-null    object
 8   MEASURE                   366 non-null    object
 9   Measure                   366 non-null    object
 10  UNIT_MEASURE              366 non-null    object
 11  Unit of measure           366 non-null    object
 12  EXPEND_SOURCE             366 non-null    object
 13  Expenditure source        366 non-null    object
 14  SPENDING_TYPE             366 non-null    object
 15  Spending type             366 non-null    object
 16  PROGRAMME_TYPE            366 non-null    object
 17  Programme type            366 non-null    object
 18  PRICE_BASE                366 non-null    object
 19  Price base                366 non-null    object
 20  TIME_PERIOD               366 non-null    int64
 21  Time period               0 non-null      float64
 22  OBS_VALUE                 366 non-null    float64
 23  Observation value         0 non-null      float64
 24  OBS_STATUS                366 non-null    object
 25  Observation status        366 non-null    object
 26  UNIT_MULT                 366 non-null    int64
 27  Unit multiplier           366 non-null    object
 28  DECIMALS                  366 non-null    int64
 29  Decimals                  366 non-null    object
 30  CURRENCY                  366 non-null    object
 31  Currency                  366 non-null    object
 32  BASE_PER                  0 non-null      float64
 33  Base period               0 non-null      float64
dtypes: float64(5), int64(3), object(26)
memory usage: 97.3+ KB

In [14]:
expend_on_social_policy_df.isnull().sum()

STRUCTURE                     0
STRUCTURE_ID                  0
STRUCTURE_NAME                0
ACTION                        0
REF_AREA                      0
Reference area                0
FREQ                          0
Frequency of observation      0
MEASURE                       0
Measure                       0
UNIT_MEASURE                  0
Unit of measure               0
EXPEND_SOURCE                 0
Expenditure source            0
SPENDING_TYPE                 0
Spending type                 0
PROGRAMME_TYPE                0
Programme type                0
PRICE_BASE                    0
Price base                    0
TIME_PERIOD                   0
Time period                 366
OBS_VALUE                     0
Observation value           366
OBS_STATUS                    0
Observation status            0
UNIT_MULT                     0
Unit multiplier               0
DECIMALS                      0
Decimals                      0
CURRENCY                      0
Currency                      0
BASE_PER                    366
Base period                 366
dtype: int64

### 1.2.2) Social expenditure eu, usa and australia

Link: https://data-explorer.oecd.org/vis?tm=Social%20expenditure&pg=0&snb=139&vw=tb&df[ds]=dsDisseminateFinalDMZ&df[id]=DSD_SOCX_AGG%40DF_SOCX_AGG&df[ag]=OECD.ELS.SPD&df[vs]=1.0&dq=AUS%2BAUT%2BBEL%2BCZE%2BDNK%2BEST%2BFIN%2BDEU%2BFRA%2BGRC%2BHUN%2BISL%2BIRL%2BISR%2BITA%2BLVA%2BLTU%2BLUX%2BNLD%2BNZL%2BNOR%2BPOL%2BPRT%2BSVK%2BSVN%2BESP%2BSWE%2BCHE%2BTUR%2BGBR%2BUSA.A..PT_OTE_S13%2BPT_B1GQ.ES10._T._T.&pd=1989%2C2022&to[TIME_PERIOD]=false&ly[cl]=TIME_PERIOD&ly[rw]=REF_AREA%2CCOMBINED_UNIT_MEASURE

In [16]:
social_policy_eu_usa_australia_df = pd.read_csv("social_expenditure_eu_usa_australia.csv")

In [17]:
social_policy_years = social_policy_eu_usa_australia_df["TIME_PERIOD"].unique()
social_policy_years.sort()
social_policy_years

array([1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999,
       2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021,
       2022], dtype=int64)

In [18]:
social_policy_eu_usa_australia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1821 entries, 0 to 1820
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   STRUCTURE                 1821 non-null   object
 1   STRUCTURE_ID              1821 non-null   object
 2   STRUCTURE_NAME            1821 non-null   object
 3   ACTION                    1821 non-null   object
 4   REF_AREA                  1821 non-null   object
 5   Reference area            1821 non-null   object
 6   FREQ                      1821 non-null   object
 7   Frequency of observation  1821 non-null   object
 8   MEASURE                   1821 non-null   object
 9   Measure                   1821 non-null   object
 10  UNIT_MEASURE              1821 non-null   object
 11  Unit of measure           1821 non-null   object
 12  EXPEND_SOURCE             1821 non-null   object
 13  Expenditure source        1821 non-null   object
 14  SPENDING_TYPE             1821 non-null   object
 15  Spending type             1821 non-null   object
 16  PROGRAMME_TYPE            1821 non-null   object
 17  Programme type            1821 non-null   object
 18  PRICE_BASE                1821 non-null   object
 19  Price base                1821 non-null   object
 20  TIME_PERIOD               1821 non-null   int64
 21  Time period               0 non-null      float64
 22  OBS_VALUE                 1779 non-null   float64
 23  Observation value         0 non-null      float64
 24  OBS_STATUS                1821 non-null   object
 25  Observation status        1821 non-null   object
 26  UNIT_MULT                 1821 non-null   int64
 27  Unit multiplier           1821 non-null   object
 28  DECIMALS                  1821 non-null   int64
 29  Decimals                  1821 non-null   object
 30  CURRENCY                  1821 non-null   object
 31  Currency                  1821 non-null   object
 32  BASE_PER                  0 non-null      float64
 33  Base period               0 non-null      float64
dtypes: float64(5), int64(3), object(26)
memory usage: 483.8+ KB

In [19]:
social_exp_eu_usa_aus = social_policy_eu_usa_australia_df.drop(columns=['PROGRAMME_TYPE', 'SPENDING_TYPE', 'EXPEND_SOURCE', 'MEASURE', 'Price base', 'BASE_PER', 'Base period', 'STRUCTURE', 'STRUCTURE_ID', 'ACTION', 'FREQ', 'CURRENCY', 'Currency', 'Decimals',  'Time period', 'Observation value', 'PRICE_BASE', 'STRUCTURE_NAME', 'Frequency of observation', 'UNIT_MULT', 'DECIMALS', 'UNIT_MEASURE'])

## 1.3) Happiness

### 1.3.1) Wellbeing (hand picked features) 2004-2024

In [22]:
current_wellbeing_df = pd.read_csv("current_wellbeing.csv")

In [23]:
current_wellbeing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5466 entries, 0 to 5465
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   STRUCTURE           5466 non-null   object
 1   STRUCTURE_ID        5466 non-null   object
 2   STRUCTURE_NAME      5466 non-null   object
 3   ACTION              5466 non-null   object
 4   REF_AREA            5466 non-null   object
 5   Reference area      5466 non-null   object
 6   MEASURE             5466 non-null   object
 7   Measure             5466 non-null   object
 8   UNIT_MEASURE        5466 non-null   object
 9   Unit of measure     5466 non-null   object
 10  AGE                 5466 non-null   object
 11  Age                 5466 non-null   object
 12  SEX                 5466 non-null   object
 13  Sex                 5466 non-null   object
 14  EDUCATION_LEV       5466 non-null   object
 15  Education level     5466 non-null   object
 16  DOMAIN              5466 non-null   object
 17  Domain              5466 non-null   object
 18  TIME_PERIOD         5466 non-null   int64
 19  Time period         0 non-null      float64
 20  OBS_VALUE           5466 non-null   float64
 21  Observation value   0 non-null      float64
 22  OBS_STATUS          5466 non-null   object
 23  Observation status  5466 non-null   object
 24  UNIT_MULT           5466 non-null   int64
 25  Unit multiplier     5466 non-null   object
 26  DECIMALS            5466 non-null   int64
 27  Decimals            5466 non-null   object
 28  BASE_PER            0 non-null      float64
 29  Base period         0 non-null      float64
dtypes: float64(5), int64(3), object(22)
memory usage: 1.3+ MB

## 1.3.2) World Happiness Report 2023

In [25]:
world_happiness_2023 = pd.read_excel("data_happiness_2023.xls")

In [26]:
world_happiness_2023.head()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.723590,7.350416,0.450662,50.500000,0.718114,0.167652,0.881686,0.414297,0.258195
1,Afghanistan,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.190809,0.850035,0.481421,0.237092
2,Afghanistan,2010,4.758381,7.613900,0.539075,51.099998,0.600127,0.121316,0.706766,0.516907,0.275324
3,Afghanistan,2011,3.831719,7.581259,0.521104,51.400002,0.495901,0.163571,0.731109,0.479835,0.267175
4,Afghanistan,2012,3.782938,7.660506,0.520637,51.700001,0.530935,0.237588,0.775620,0.613513,0.267919

In [27]:
world_happiness_2023.describe()

,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
count,2199.000000,2199.000000,2179.000000,2186.000000,2145.000000,2166.000000,2126.000000,2083.000000,2175.000000,2183.000000
mean,2014.161437,5.479226,9.389766,0.810679,63.294583,0.747858,0.000096,0.745195,0.652143,0.271501
std,4.718736,1.125529,1.153387,0.120952,6.901104,0.140150,0.161083,0.185837,0.105922,0.086875
min,2005.000000,1.281271,5.526723,0.228217,6.720000,0.257534,-0.337527,0.035198,0.178886,0.082737
25%,2010.000000,4.646750,8.499764,0.746609,59.119999,0.656528,-0.112116,0.688139,0.571684,0.207660
50%,2014.000000,5.432437,9.498955,0.835535,65.050003,0.769821,-0.022671,0.799654,0.663063,0.260671
75%,2018.000000,6.309460,10.373216,0.904792,68.500000,0.859382,0.092070,0.868827,0.737936,0.322894
max,2022.000000,8.018934,11.663788,0.987343,74.474998,0.985178,0.702708,0.983276,0.883586,0.704590

In [28]:
world_happiness_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2199 entries, 0 to 2198
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country name                      2199 non-null   object
 1   year                              2199 non-null   int64
 2   Life Ladder                       2199 non-null   float64
 3   Log GDP per capita                2179 non-null   float64
 4   Social support                    2186 non-null   float64
 5   Healthy life expectancy at birth  2145 non-null   float64
 6   Freedom to make life choices      2166 non-null   float64
 7   Generosity                        2126 non-null   float64
 8   Perceptions of corruption         2083 non-null   float64
 9   Positive affect                   2175 non-null   float64
 10  Negative affect                   2183 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 189.1+ KB

In [29]:
all_years_df = world_happiness_2023["year"].unique()
all_years_df.sort()
print(all_years_df)

[2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018
 2019 2020 2021 2022]

## 1.4) Taxation

### 1.4.1) European Commission: Taxation as percentage of GDP

LINK: https://taxation-customs.ec.europa.eu/taxation/economic-analyses/taxation-trends-eu/data-taxation-trends_en

In [33]:
total_taxes_df = pd.read_excel("tax-main-aggregates.xlsx", header=2)

In [34]:
total_taxes_df.head()

,Unnamed: 0,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,Difference 2012-2022 (pp),Ranking 2022,Revenue 2022\n(million EUR)
0,EU-27,37.922746,38.345385,39.301449,39.787250,39.865975,39.730539,39.843225,39.930718,40.054073,39.944737,40.002493,40.395208,40.161307,0.9,NaN,6387768.3
1,EA-19,38.101209,38.586230,39.615106,40.116221,40.179571,40.061478,40.104618,40.241508,40.427915,40.296537,40.357165,40.786176,40.841225,1.2,NaN,5482502.8
2,Belgium,43.580535,44.369598,45.319126,46.033293,45.683596,44.991570,44.213578,44.747951,44.824441,43.467108,43.411264,43.166396,43.268219,-2.0,2.0,239725.1
3,Bulgaria,25.398276,25.477641,26.078859,28.132118,28.399268,28.863177,29.184384,29.840882,29.683558,30.353742,30.498298,30.785349,31.145084,5.0,23.0,26722.7
4,Czechia,32.854823,33.975879,34.497486,34.897577,34.136013,34.288463,35.075928,35.402552,35.972707,35.907027,35.923476,35.890107,35.287515,0.8,17.0,97487.3

## 1.5) Unemployment

### 1.5.1) OECD: Unemployment by year

In [37]:
unempl_df = pd.read_csv("unemployment_by_year.csv")
unit_of_measure = unempl_df["Unit of measure"].value_counts()
print(unit_of_measure)

Unit of measure
Persons    825
Name: count, dtype: int64

### 1.5.2) Eurostat unemployment

In [39]:
unempl_eurostat_df = pd.read_csv("unemployment_eurostat.tsv", sep=r"[\t,\\]", engine = "python")

In [40]:
unempl_eurostat_df.replace(r'^\s*:\s*$', np.nan, regex=True, inplace=True)

PC_ACT = Percentage of population in the labour force

In [42]:
unempl_eurostat_df.iloc[1:40]

,freq,age,unit,sex,geo,TIME_PERIOD,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
1,A,Y15-74,PC_ACT,T,BA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.4,15.4,13.2,NaN
2,A,Y15-74,PC_ACT,T,BE,7.6,8.6,8.7,8.7,7.9,7.2 b,6.0,5.5,5.8,6.3,5.6,5.5,NaN
3,A,Y15-74,PC_ACT,T,BG,13.3,13.9,12.4,10.1,8.6,7.2,6.2,5.2 b,6.1,5.2,4.2,4.3,NaN
4,A,Y15-74,PC_ACT,T,CH,4.5,4.8,4.9,4.8,5.0,4.8,4.7,4.4,4.8,5.1,4.1,4.1,NaN
5,A,Y15-74,PC_ACT,T,CY,11.9,15.9,16.1,15.0,13.0,11.1,8.4,7.1,7.6,7.5,6.8,5.8 b,NaN
6,A,Y15-74,PC_ACT,T,CZ,7.0,7.0,6.1,5.1,4.0,2.9,2.2,2.0,2.6,2.8,2.2,2.6,NaN
7,A,Y15-74,PC_ACT,T,DE,5.1,5.0,4.7,4.4,3.9,3.6,3.2,3.0,3.7 b,3.7,3.2,3.1,NaN
8,A,Y15-74,PC_ACT,T,DK,7.8,7.4,6.9,6.3,6.0 b,5.8 b,5.1,5.0,5.6,5.1,4.5,5.1 b,NaN
9,A,Y15-74,PC_ACT,T,EA20,11.5,12.2,11.7,11.0,10.1,9.1,8.2,7.6,8.0,7.8,6.8,6.6,NaN
10,A,Y15-74,PC_ACT,T,EE,9.9,8.6,7.3,6.4,6.8,5.8,5.4,4.5,6.9,6.2,5.6,6.4,NaN
11,A,Y15-74,PC_ACT,T,EL,24.8,27.8,26.6,25.0,23.9,21.8,19.7,17.9,17.6,14.7,12.5,11.1,NaN
12,A,Y15-74,PC_ACT,T,ES,24.8,26.1,24.5,22.1,19.6,17.2,15.3,14.1,15.5,14.9 b,13.0 d,12.2 d,NaN
13,A,Y15-74,PC_ACT,T,EU27_2020,11.1,11.6,11.0,10.2,9.3,8.3,7.4,6.8,7.2,7.1,6.2,6.1,NaN
14,A,Y15-74,PC_ACT,T,FI,7.9,8.3,8.7,9.4,8.9,8.7,7.5,6.8,7.7,7.7,6.8,7.2,NaN
15,A,Y15-74,PC_ACT,T,FR,9.8,10.3,10.3,10.3,10.1,9.4,9.0,8.4,8.0,7.9 d,7.3 d,7.3 d,NaN
16,A,Y15-74,PC_ACT,T,HR,16.0,17.3,17.3,16.2,13.1,11.2,8.5,6.6 b,7.4,7.5,6.8,6.1,NaN
17,A,Y15-74,PC_ACT,T,HU,10.7,9.8,7.5,6.6,5.0,4.0,3.6,3.3,4.1,4.1,3.6,4.1,NaN
18,A,Y15-74,PC_ACT,T,IE,15.5,13.8,11.9,9.9,8.4,6.7,5.8,5.0,5.9,6.2 b,4.5,4.3,NaN
19,A,Y15-74,PC_ACT,T,IS,6.0,5.4,4.9,4.0,3.0,2.7,2.7,3.5,5.5 b,6.1,3.8,3.5,NaN
20,A,Y15-74,PC_ACT,T,IT,10.9,12.4,12.9,12.0,11.7,11.3,10.6 b,9.9,9.3,9.5,8.1,7.7,NaN
21,A,Y15-74,PC_ACT,T,LT,13.4,11.8,10.7,9.1,7.9,7.1,6.2,6.3,8.5,7.1,6.0,6.9,NaN
22,A,Y15-74,PC_ACT,T,LU,5.1,5.9,5.9,6.7 b,6.3,5.5,5.6,5.6,6.8,5.3,4.6,5.2,NaN
23,A,Y15-74,PC_ACT,T,LV,15.1,11.9,10.9,9.9,9.7,8.7,7.4,6.3,8.1,7.6,6.9,6.5,NaN
24,A,Y15-74,PC_ACT,T,ME,20.0,19.5,18.0,17.6,17.8,16.1,15.2,15.2,17.9,NaN,NaN,NaN,NaN
25,A,Y15-74,PC_ACT,T,MK,31.0,29.0,28.0,26.1,23.7,22.4,20.8,17.3,16.4,NaN,NaN,NaN,NaN
26,A,Y15-74,PC_ACT,T,MT,6.2,6.1,5.7,5.4,4.7,4.0,4.0,4.1,4.9,3.8,3.5,3.5,NaN
27,A,Y15-74,PC_ACT,T,NL,6.8,8.2,8.4,7.9,7.0,5.9,4.9,4.4,4.9,4.2,3.5,3.6,NaN
28,A,Y15-74,PC_ACT,T,NO,3.5,3.9,3.8,4.7,4.9,4.4,4.0,3.9,4.7,4.4,3.2,3.6,NaN
29,A,Y15-74,PC_ACT,T,PL,10.4,10.6,9.2,7.7,6.3,5.0,3.9,3.3 b,3.2,3.4,2.9,2.8,NaN
30,A,Y15-74,PC_ACT,T,PT,16.6,17.2,14.6,13.0,11.5,9.2,7.2,6.6,7.1,6.7,6.2,6.5,NaN
31,A,Y15-74,PC_ACT,T,RO,8.7,9.0,8.6,8.4,7.2,6.1,5.3,4.9,6.1,5.6,5.6,5.6,NaN
32,A,Y15-74,PC_ACT,T,RS,26.0,24.2,20.7,19.0,16.5,14.6,13.8,11.3,9.8,11.2 b,9.6,9.5,NaN
33,A,Y15-74,PC_ACT,T,SE,8.1,8.1,8.0,7.5,7.1,6.8,6.5,6.9,8.5,8.9,7.5,7.7,NaN
34,A,Y15-74,PC_ACT,T,SI,8.9,10.1,9.7,9.0,8.0,6.6,5.1,4.4,5.0,4.8,4.0,3.7,NaN
35,A,Y15-74,PC_ACT,T,SK,13.9,14.1,13.1,11.5,9.6,8.1,6.5,5.7,6.7,6.8,6.1,5.8,NaN
36,A,Y15-74,PC_ACT,T,TR,8.2,8.8,9.9 b,10.3,10.9,10.9,10.9,13.7,13.2,12.0 b,10.5,9.4,NaN
37,A,Y15-74,PC_POP,T,AT,3.5,3.8,4.0,4.1,4.4,4.0,3.6,3.3,4.1,4.2,3.3,3.5,NaN
38,A,Y15-74,PC_POP,T,BA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,7.9,6.8,NaN
39,A,Y15-74,PC_POP,T,BE,4.6,5.1,5.2,5.2,4.7,4.3 b,3.6,3.3,3.4,3.8,3.4,3.4,NaN

### Shifting all the values under the year-columns one step to the right and deleting TIME_PERIOD

In [44]:
start_col = 'TIME_PERIOD'

# Find the index of the starting column
start_index = unempl_eurostat_df.columns.get_loc(start_col)

# Create a new DataFrame initialized with NaN
df_shifted = unempl_eurostat_df.copy()

# Shift values to the right from the specified column
df_shifted.iloc[:, start_index + 1:] = df_shifted.iloc[:, start_index:-1]


df_shifted.head()

C:\Users\acm11\AppData\Local\Temp\ipykernel_7940\2610290381.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0       5.1
1      13.2
2       5.5
3       4.3
4       4.1
       ...
106     296
107     440
108      38
109     162
110    3274
Name: 2022 , Length: 111, dtype: object' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_shifted.iloc[:, start_index + 1:] = df_shifted.iloc[:, start_index:-1]

,freq,age,unit,sex,geo,TIME_PERIOD,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,A,Y15-74,PC_ACT,T,AT,5.2,5.2,5.7,6.0,6.1,6.5,5.9,5.2,4.8,6.0,6.2,4.8,5.1
1,A,Y15-74,PC_ACT,T,BA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.4,15.4,13.2
2,A,Y15-74,PC_ACT,T,BE,7.6,7.6,8.6,8.7,8.7,7.9,7.2 b,6.0,5.5,5.8,6.3,5.6,5.5
3,A,Y15-74,PC_ACT,T,BG,13.3,13.3,13.9,12.4,10.1,8.6,7.2,6.2,5.2 b,6.1,5.2,4.2,4.3
4,A,Y15-74,PC_ACT,T,CH,4.5,4.5,4.8,4.9,4.8,5.0,4.8,4.7,4.4,4.8,5.1,4.1,4.1

In [45]:
df_shifted.drop(columns="TIME_PERIOD", inplace=True)
df_shifted.head()

,freq,age,unit,sex,geo,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,A,Y15-74,PC_ACT,T,AT,5.2,5.7,6.0,6.1,6.5,5.9,5.2,4.8,6.0,6.2,4.8,5.1
1,A,Y15-74,PC_ACT,T,BA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.4,15.4,13.2
2,A,Y15-74,PC_ACT,T,BE,7.6,8.6,8.7,8.7,7.9,7.2 b,6.0,5.5,5.8,6.3,5.6,5.5
3,A,Y15-74,PC_ACT,T,BG,13.3,13.9,12.4,10.1,8.6,7.2,6.2,5.2 b,6.1,5.2,4.2,4.3
4,A,Y15-74,PC_ACT,T,CH,4.5,4.8,4.9,4.8,5.0,4.8,4.7,4.4,4.8,5.1,4.1,4.1

### Deleting all other units of measure than PC_ACT

In [47]:
unit = df_shifted["unit"].value_counts()
print(unit)

unit
PC_ACT     37
PC_POP     37
THS_PER    37
Name: count, dtype: int64

In [48]:
unempl_one_unit_df = df_shifted[~df_shifted["unit"].isin(["PC_POP", "THS_PER"])]

In [49]:
unit = unempl_one_unit_df["unit"].value_counts()
print(unit)

unit
PC_ACT    37
Name: count, dtype: int64

### Deleting freq, age, sex

In [51]:
unempl_one_unit_df.drop(columns=["freq", "age", "sex", "unit"], inplace= True)

C:\Users\acm11\AppData\Local\Temp\ipykernel_7940\3869531246.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unempl_one_unit_df.drop(columns=["freq", "age", "sex", "unit"], inplace= True)

In [52]:
unempl_one_unit_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37 entries, 0 to 36
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   geo     37 non-null     object
 1   2012    36 non-null     object
 2   2013    36 non-null     object
 3   2014    36 non-null     object
 4   2015    36 non-null     object
 5   2016    36 non-null     object
 6   2017    36 non-null     object
 7   2018    36 non-null     object
 8   2019    36 non-null     object
 9   2020    36 non-null     object
 10  2021    35 non-null     object
 11  2022    35 non-null     object
 12  2023    35 non-null     object
dtypes: object(13)
memory usage: 4.0+ KB

In [53]:
unempl_one_unit_df.isna().sum()

geo      0
2012     1
2013     1
2014     1
2015     1
2016     1
2017     1
2018     1
2019     1
2020     1
2021     2
2022     2
2023     2
dtype: int64

### Transforming data frame from wide to long so years are under a column and there values in another column

In [55]:
unempl_euro_melted_df = pd.melt(unempl_one_unit_df, id_vars=["geo"], var_name = "TIME_PERIOD", value_name = "Unemployment as percentage of labour force")
unempl_euro_melted_df.head()

  geo TIME_PERIOD Unemployment as percentage of labour force
0  AT       2012                                        5.2
1  BA       2012                                         NaN
2  BE       2012                                        7.6
3  BG       2012                                       13.3
4  CH       2012                                        4.5

In [56]:
unempl_euro_melted_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 444 entries, 0 to 443
Data columns (total 3 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   geo                                         444 non-null    object
 1   TIME_PERIOD                                 444 non-null    object
 2   Unemployment as percentage of labour force  429 non-null    object
dtypes: object(3)
memory usage: 10.5+ KB

# 2) Data exploration and feature engineering

## 2.1) GDP data

### 2.1.1) (OECD) GDP 1970-2023 deflated

#### 2.1.1.1) Removing columns to get an overview of the data

In [61]:
gdp_1970_defl_simple = gdp_1970_deflated_df.drop(columns=['STRUCTURE', 'STRUCTURE_ID', 'ACTION', 'FREQ', 'COUNTERPART_SECTOR', 'Counterpart institutional sector', 'CURRENCY', 'Currency', 'Decimals', 'Confidentiality status', 'CONF_STATUS', 'INSTR_ASSET', 'Financial instruments and non-financial assets', 'TABLE_IDENTIFIER', 'Table identifier', 'Time period', 'REF_YEAR_PRICE', 'Observation value', 'Price reference year', 'Economic activity', 'ACTIVITY', 'PRICE_BASE', 'TRANSFORMATION', 'Transformation', 'TRANSACTION', 'SECTOR', 'STRUCTURE_NAME', 'Frequency of observation', 'UNIT_MULT', 'DECIMALS', 'EXPENDITURE', 'Expenditure', 'UNIT_MEASURE'])

In [62]:
gdp_1970_defl_simple.head()

,REF_AREA,Reference area,Institutional sector,Transaction,Unit of measure,Price base,TIME_PERIOD,OBS_VALUE,OBS_STATUS,Observation status,Unit multiplier
0,IRL,Ireland,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),2009,234829.565,A,Normal value,Millions
1,CHE,Switzerland,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),2017,559252.338,A,Normal value,Millions
2,CHE,Switzerland,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),2016,551733.319,A,Normal value,Millions
3,COL,Colombia,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),2018,662368.976,A,Normal value,Millions
4,CHE,Switzerland,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),1971,270463.206,E,Estimated value,Millions

In [63]:
gdp_1970_defl_simple.shape

(2624, 11)

In [64]:
gdp_1970_defl_simple.iloc[2435:2445]

,REF_AREA,Reference area,Institutional sector,Transaction,Unit of measure,Price base,TIME_PERIOD,OBS_VALUE,OBS_STATUS,Observation status,Unit multiplier
2435,ITA,Italy,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),1975,1207254.975,E,Estimated value,Millions
2436,ITA,Italy,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),1974,1233027.254,E,Estimated value,Millions
2437,ITA,Italy,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),1973,1168744.649,E,Estimated value,Millions
2438,ITA,Italy,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),1972,1091001.392,E,Estimated value,Millions
2439,ITA,Italy,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),1971,1052171.165,E,Estimated value,Millions
2440,ITA,Italy,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),1970,1033383.143,E,Estimated value,Millions
2441,ITA,Italy,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),2023,2421454.720,A,Normal value,Millions
2442,ITA,Italy,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),2022,2399363.963,A,Normal value,Millions
2443,ITA,Italy,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),2021,2307393.619,A,Normal value,Millions
2444,ITA,Italy,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),2020,2130355.931,A,Normal value,Millions

In [65]:
gdp_1970_defl_simple.isna().sum()

REF_AREA                0
Reference area          0
Institutional sector    0
Transaction             0
Unit of measure         0
Price base              0
TIME_PERIOD             0
OBS_VALUE               0
OBS_STATUS              0
Observation status      0
Unit multiplier         0
dtype: int64

In [66]:
gdp_1970_defl_simple.sort_values(by="TIME_PERIOD", inplace=False)

,REF_AREA,Reference area,Institutional sector,Transaction,Unit of measure,Price base,TIME_PERIOD,OBS_VALUE,OBS_STATUS,Observation status,Unit multiplier
121,PRT,Portugal,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),1970,1.024354e+05,E,Estimated value,Millions
786,FRA,France,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),1970,9.921342e+05,A,Normal value,Millions
2440,ITA,Italy,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),1970,1.033383e+06,E,Estimated value,Millions
1814,USA,United States,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),1970,5.173693e+06,A,Normal value,Millions
1049,ISL,Iceland,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),1970,3.460969e+03,E,Estimated value,Millions
...,...,...,...,...,...,...,...,...,...,...,...
2183,GRC,Greece,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),2023,3.193293e+05,P,Provisional value,Millions
765,NOR,Norway,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),2023,3.536325e+05,A,Normal value,Millions
2357,KOR,Korea,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),2023,2.327219e+06,E,Estimated value,Millions
2279,SVK,Slovak Republic,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),2023,1.912215e+05,A,Normal value,Millions
578,EA20,Euro area (20 countries),Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),2023,1.567318e+07,A,Normal value,Millions

In [67]:
ireland_df = gdp_1970_defl_simple[gdp_1970_defl_simple["Reference area"] == "Ireland"]

In [68]:
ire_df_copy = ireland_df.copy()

In [69]:
ire_df_copy.head()

,REF_AREA,Reference area,Institutional sector,Transaction,Unit of measure,Price base,TIME_PERIOD,OBS_VALUE,OBS_STATUS,Observation status,Unit multiplier
0,IRL,Ireland,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),2009,234829.565,A,Normal value,Millions
11,IRL,Ireland,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),2020,453894.856,A,Normal value,Millions
2298,IRL,Ireland,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),2016,340720.243,A,Normal value,Millions
2299,IRL,Ireland,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),2015,336604.783,A,Normal value,Millions
2300,IRL,Ireland,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),2014,270114.548,A,Normal value,Millions

#### 2.1.1.2) Moving all OBS_VALUES (gdp) up a year (I need to move it down a year actually)

In [71]:
ire_df_copy.sort_values(by="TIME_PERIOD", inplace=True, ascending=True)

In [72]:
ire_df_copy['OBS_VALUE'] = ire_df_copy['OBS_VALUE'].shift(+1)

In [73]:
ire_df_copy.head()

,REF_AREA,Reference area,Institutional sector,Transaction,Unit of measure,Price base,TIME_PERIOD,OBS_VALUE,OBS_STATUS,Observation status,Unit multiplier
2619,IRL,Ireland,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),1970,NaN,E,Estimated value,Millions
2618,IRL,Ireland,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),1971,40517.027,E,Estimated value,Millions
2617,IRL,Ireland,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),1972,41922.922,E,Estimated value,Millions
2616,IRL,Ireland,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),1973,44643.640,E,Estimated value,Millions
2615,IRL,Ireland,Total economy,Gross domestic product,"US dollars, PPP converted",Chain linked volume (rebased),1974,46751.457,E,Estimated value,Millions

## 2.2) Social Policy Expenditure 1993-2023

### 2.2.1) Total social policy expenditure as percentage of GDP

In [76]:
expend_on_social_policy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   STRUCTURE                 366 non-null    object
 1   STRUCTURE_ID              366 non-null    object
 2   STRUCTURE_NAME            366 non-null    object
 3   ACTION                    366 non-null    object
 4   REF_AREA                  366 non-null    object
 5   Reference area            366 non-null    object
 6   FREQ                      366 non-null    object
 7   Frequency of observation  366 non-null    object
 8   MEASURE                   366 non-null    object
 9   Measure                   366 non-null    object
 10  UNIT_MEASURE              366 non-null    object
 11  Unit of measure           366 non-null    object
 12  EXPEND_SOURCE             366 non-null    object
 13  Expenditure source        366 non-null    object
 14  SPENDING_TYPE             366 non-null    object
 15  Spending type             366 non-null    object
 16  PROGRAMME_TYPE            366 non-null    object
 17  Programme type            366 non-null    object
 18  PRICE_BASE                366 non-null    object
 19  Price base                366 non-null    object
 20  TIME_PERIOD               366 non-null    int64
 21  Time period               0 non-null      float64
 22  OBS_VALUE                 366 non-null    float64
 23  Observation value         0 non-null      float64
 24  OBS_STATUS                366 non-null    object
 25  Observation status        366 non-null    object
 26  UNIT_MULT                 366 non-null    int64
 27  Unit multiplier           366 non-null    object
 28  DECIMALS                  366 non-null    int64
 29  Decimals                  366 non-null    object
 30  CURRENCY                  366 non-null    object
 31  Currency                  366 non-null    object
 32  BASE_PER                  0 non-null      float64
 33  Base period               0 non-null      float64
dtypes: float64(5), int64(3), object(26)
memory usage: 97.3+ KB

#### 2.2.1.1) Removing columns to get an overview of the data

In [78]:
exp_social_df = expend_on_social_policy_df.drop(columns=['PROGRAMME_TYPE', 'SPENDING_TYPE', 'EXPEND_SOURCE', 'MEASURE', 'Price base', 'BASE_PER', 'Base period', 'STRUCTURE', 'STRUCTURE_ID', 'ACTION', 'FREQ', 'CURRENCY', 'Currency', 'Decimals',  'Time period', 'Observation value', 'PRICE_BASE', 'STRUCTURE_NAME', 'Frequency of observation', 'UNIT_MULT', 'DECIMALS', 'UNIT_MEASURE'])

In [79]:
exp_social_df.head()

,REF_AREA,Reference area,Measure,Unit of measure,Expenditure source,Spending type,Programme type,TIME_PERIOD,OBS_VALUE,OBS_STATUS,Observation status,Unit multiplier
0,TUR,Trkiye,Social expenditure,Percentage of GDP,Net total,Total,Total,2017,11.803,A,Normal value,Units
1,TUR,Trkiye,Social expenditure,Percentage of GDP,Net total,Total,Total,2019,12.463,A,Normal value,Units
2,TUR,Trkiye,Social expenditure,Percentage of GDP,Net total,Total,Total,2005,9.333,A,Normal value,Units
3,TUR,Trkiye,Social expenditure,Percentage of GDP,Net total,Total,Total,2007,10.164,A,Normal value,Units
4,TUR,Trkiye,Social expenditure,Percentage of GDP,Net total,Total,Total,2009,12.074,A,Normal value,Units

In [80]:
all_years_social_exp = exp_social_df["TIME_PERIOD"].unique()
all_years_social_exp.sort()
print(all_years_social_exp)

[1993 1995 1997 1999 2001 2003 2005 2007 2009 2011 2013 2015 2017 2019]

In [81]:
df_obs_status = exp_social_df[exp_social_df["TIME_PERIOD"] == 2017]
df_obs_status.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36 entries, 0 to 358
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REF_AREA            36 non-null     object
 1   Reference area      36 non-null     object
 2   Measure             36 non-null     object
 3   Unit of measure     36 non-null     object
 4   Expenditure source  36 non-null     object
 5   Spending type       36 non-null     object
 6   Programme type      36 non-null     object
 7   TIME_PERIOD         36 non-null     int64
 8   OBS_VALUE           36 non-null     float64
 9   OBS_STATUS          36 non-null     object
 10  Observation status  36 non-null     object
 11  Unit multiplier     36 non-null     object
dtypes: float64(1), int64(1), object(10)
memory usage: 3.7+ KB

In [82]:
exp_social_df_DK = exp_social_df[exp_social_df["Reference area"] == "Denmark"]

In [83]:
exp_social_df_DK.head()

,REF_AREA,Reference area,Measure,Unit of measure,Expenditure source,Spending type,Programme type,TIME_PERIOD,OBS_VALUE,OBS_STATUS,Observation status,Unit multiplier
224,DNK,Denmark,Social expenditure,Percentage of GDP,Net total,Total,Total,2005,21.821,A,Normal value,Units
225,DNK,Denmark,Social expenditure,Percentage of GDP,Net total,Total,Total,2007,22.839,A,Normal value,Units
226,DNK,Denmark,Social expenditure,Percentage of GDP,Net total,Total,Total,2009,26.397,A,Normal value,Units
227,DNK,Denmark,Social expenditure,Percentage of GDP,Net total,Total,Total,2011,26.442,A,Normal value,Units
228,DNK,Denmark,Social expenditure,Percentage of GDP,Net total,Total,Total,2013,26.787,A,Normal value,Units

In [84]:
exp_social_df_DK.sort_values(by = "TIME_PERIOD", ascending=True, inplace=False)

,REF_AREA,Reference area,Measure,Unit of measure,Expenditure source,Spending type,Programme type,TIME_PERIOD,OBS_VALUE,OBS_STATUS,Observation status,Unit multiplier
232,DNK,Denmark,Social expenditure,Percentage of GDP,Net total,Total,Total,1993,23.610,A,Normal value,Units
233,DNK,Denmark,Social expenditure,Percentage of GDP,Net total,Total,Total,1995,22.994,A,Normal value,Units
234,DNK,Denmark,Social expenditure,Percentage of GDP,Net total,Total,Total,1997,21.604,A,Normal value,Units
235,DNK,Denmark,Social expenditure,Percentage of GDP,Net total,Total,Total,1999,21.638,A,Normal value,Units
236,DNK,Denmark,Social expenditure,Percentage of GDP,Net total,Total,Total,2001,20.879,A,Normal value,Units
237,DNK,Denmark,Social expenditure,Percentage of GDP,Net total,Total,Total,2003,22.152,A,Normal value,Units
224,DNK,Denmark,Social expenditure,Percentage of GDP,Net total,Total,Total,2005,21.821,A,Normal value,Units
225,DNK,Denmark,Social expenditure,Percentage of GDP,Net total,Total,Total,2007,22.839,A,Normal value,Units
226,DNK,Denmark,Social expenditure,Percentage of GDP,Net total,Total,Total,2009,26.397,A,Normal value,Units
227,DNK,Denmark,Social expenditure,Percentage of GDP,Net total,Total,Total,2011,26.442,A,Normal value,Units
228,DNK,Denmark,Social expenditure,Percentage of GDP,Net total,Total,Total,2013,26.787,A,Normal value,Units
229,DNK,Denmark,Social expenditure,Percentage of GDP,Net total,Total,Total,2015,26.444,A,Normal value,Units
230,DNK,Denmark,Social expenditure,Percentage of GDP,Net total,Total,Total,2017,25.173,A,Normal value,Units
231,DNK,Denmark,Social expenditure,Percentage of GDP,Net total,Total,Total,2019,24.652,A,Normal value,Units

## 2.3) Happiness

### 2.3.1) Wellbeing (hand picked features) 2004-2024

LINK: https://data-explorer.oecd.org/vis?fs[0]=Topic%2C1%7CSociety%23SOC%23%7CWell-being%20and%20beyond%20GDP%23SOC_WEL%23&pg=0&fc=Topic&bp=true&snb=8&vw=tb&df[ds]=dsDisseminateFinalDMZ&df[id]=DSD_HSL%40DF_HSL_CWB&df[ag]=OECD.WISE.WDP&df[vs]=1.0&dq=ZAF%2BBRA%2BUSA%2BGBR%2BTUR%2BCHE%2BSWE%2BESP%2BSVN%2BSVK%2BPRT%2BPOL%2BNOR%2BNZL%2BNLD%2BMEX%2BLUX%2BLTU%2BLVA%2BKOR%2BJPN%2BISR%2BITA%2BIRL%2BISL%2BHUN%2BGRC%2BDEU%2BFIN%2BFRA%2BEST%2BDNK%2BCZE%2BCRI%2BCOL%2BCAN%2BCHL%2BBEL%2BAUT%2BAUS.4_4%2B11_1%2B10_2%2B10_2_DEP%2B10_1%2B7_3%2B7_1_DEP%2B7_1%2B5_4%2B5_3%2B5_2_DEP%2B5_2.._T._T._T.&pd=2004%2C2024&to[TIME_PERIOD]=false&ly[cl]=DOMAIN%2CCOMBINED_MEASURE%2CCOMBINED_UNIT_MEASURE%2CTIME_PERIOD&ly[rw]=REF_AREA

In [88]:
current_wellbeing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5466 entries, 0 to 5465
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   STRUCTURE           5466 non-null   object
 1   STRUCTURE_ID        5466 non-null   object
 2   STRUCTURE_NAME      5466 non-null   object
 3   ACTION              5466 non-null   object
 4   REF_AREA            5466 non-null   object
 5   Reference area      5466 non-null   object
 6   MEASURE             5466 non-null   object
 7   Measure             5466 non-null   object
 8   UNIT_MEASURE        5466 non-null   object
 9   Unit of measure     5466 non-null   object
 10  AGE                 5466 non-null   object
 11  Age                 5466 non-null   object
 12  SEX                 5466 non-null   object
 13  Sex                 5466 non-null   object
 14  EDUCATION_LEV       5466 non-null   object
 15  Education level     5466 non-null   object
 16  DOMAIN              5466 non-null   object
 17  Domain              5466 non-null   object
 18  TIME_PERIOD         5466 non-null   int64
 19  Time period         0 non-null      float64
 20  OBS_VALUE           5466 non-null   float64
 21  Observation value   0 non-null      float64
 22  OBS_STATUS          5466 non-null   object
 23  Observation status  5466 non-null   object
 24  UNIT_MULT           5466 non-null   int64
 25  Unit multiplier     5466 non-null   object
 26  DECIMALS            5466 non-null   int64
 27  Decimals            5466 non-null   object
 28  BASE_PER            0 non-null      float64
 29  Base period         0 non-null      float64
dtypes: float64(5), int64(3), object(22)
memory usage: 1.3+ MB

#### 2.3.1.1) Removing columns to get an overview of the data

In [90]:
wellbeing_df = current_wellbeing_df.drop(columns=['EDUCATION_LEV', 'MEASURE', 'DOMAIN', 'Domain', 'Education level', 'Sex', 'SEX', 'AGE', 'Age', 'OBS_STATUS', 'BASE_PER', 'Base period', 'STRUCTURE', 'STRUCTURE_ID', 'ACTION', 'Decimals',  'Time period', 'Observation value', 'STRUCTURE_NAME', 'UNIT_MULT', 'DECIMALS', 'UNIT_MEASURE'])

In [91]:
wellbeing_df.head()

,REF_AREA,Reference area,Measure,Unit of measure,TIME_PERIOD,OBS_VALUE,Observation status,Unit multiplier
0,LVA,Latvia,Perceived health as positive,Percentage of population aged 16 years or over,2017,44.2,Normal value,Units
1,LVA,Latvia,Perceived health as positive,Percentage of population aged 16 years or over,2018,46.9,Normal value,Units
2,LVA,Latvia,Perceived health as positive,Percentage of population aged 16 years or over,2019,47.1,Normal value,Units
3,LVA,Latvia,Perceived health as positive,Percentage of population aged 16 years or over,2020,49.7,Normal value,Units
4,LVA,Latvia,Perceived health as positive,Percentage of population aged 16 years or over,2021,49.8,Normal value,Units

In [92]:
unit_of_measure_values = wellbeing_df["Measure"].unique()

print(unit_of_measure_values)

['Perceived health as positive' 'Satisfaction with personal relationships'
 'Life satisfaction' 'Satisfaction with time use' 'Lack of social support'
 'Not feeling safe at night' 'Feeling safe at night'
 'Perceived health as negative' 'Social support'
 'Self-reported depression' 'Homicides'
 'Deaths from suicide, alcohol, drugs']

##### PERCEIVED HEALTH

In [94]:
percivd_health_pos_df = wellbeing_df[wellbeing_df["Measure"] == "Perceived health as positive"]

In [95]:
percivd_health_pos_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 590 entries, 0 to 5374
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REF_AREA            590 non-null    object
 1   Reference area      590 non-null    object
 2   Measure             590 non-null    object
 3   Unit of measure     590 non-null    object
 4   TIME_PERIOD         590 non-null    int64
 5   OBS_VALUE           590 non-null    float64
 6   Observation status  590 non-null    object
 7   Unit multiplier     590 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 41.5+ KB

##### SATISFACTION WITH PERSONAL RELATIONSHIPS (TO FEW)

In [97]:
stsfaction_rltnship_df = wellbeing_df[wellbeing_df["Measure"] == "Satisfaction with personal relationships"]

In [98]:
stsfaction_rltnship_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 93 entries, 31 to 5383
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REF_AREA            93 non-null     object
 1   Reference area      93 non-null     object
 2   Measure             93 non-null     object
 3   Unit of measure     93 non-null     object
 4   TIME_PERIOD         93 non-null     int64
 5   OBS_VALUE           93 non-null     float64
 6   Observation status  93 non-null     object
 7   Unit multiplier     93 non-null     object
dtypes: float64(1), int64(1), object(6)
memory usage: 6.5+ KB

##### LIFE SATISFACTION (TO FEW - 189)

In [100]:
life_stsfaction_df = wellbeing_df[wellbeing_df["Measure"] == "Life satisfaction"]

In [101]:
life_stsfaction_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 189 entries, 33 to 5380
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REF_AREA            189 non-null    object
 1   Reference area      189 non-null    object
 2   Measure             189 non-null    object
 3   Unit of measure     189 non-null    object
 4   TIME_PERIOD         189 non-null    int64
 5   OBS_VALUE           189 non-null    float64
 6   Observation status  189 non-null    object
 7   Unit multiplier     189 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 13.3+ KB

##### SATISFACTION WITH TOME USE (TO FEW)

In [103]:
stsfaction_w_time_use_df = wellbeing_df[wellbeing_df["Measure"] == "Satisfaction with time use"]

In [104]:
stsfaction_w_time_use_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 95 entries, 35 to 5385
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REF_AREA            95 non-null     object
 1   Reference area      95 non-null     object
 2   Measure             95 non-null     object
 3   Unit of measure     95 non-null     object
 4   TIME_PERIOD         95 non-null     int64
 5   OBS_VALUE           95 non-null     float64
 6   Observation status  95 non-null     object
 7   Unit multiplier     95 non-null     object
dtypes: float64(1), int64(1), object(6)
memory usage: 6.7+ KB

##### LACK OF SOCIAL SUPPORT (TO FEW AND NEG)

In [106]:
lck_of_social_supprt_df = wellbeing_df[wellbeing_df["Measure"] == "Lack of Social support"]

In [107]:
lck_of_social_supprt_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REF_AREA            0 non-null      object
 1   Reference area      0 non-null      object
 2   Measure             0 non-null      object
 3   Unit of measure     0 non-null      object
 4   TIME_PERIOD         0 non-null      int64
 5   OBS_VALUE           0 non-null      float64
 6   Observation status  0 non-null      object
 7   Unit multiplier     0 non-null      object
dtypes: float64(1), int64(1), object(6)
memory usage: 0.0+ bytes

##### HOMICIDES

In [109]:
homicides_df = wellbeing_df[wellbeing_df["Measure"] == "Homicides"]

In [110]:
homicides_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 642 entries, 3838 to 5461
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REF_AREA            642 non-null    object
 1   Reference area      642 non-null    object
 2   Measure             642 non-null    object
 3   Unit of measure     642 non-null    object
 4   TIME_PERIOD         642 non-null    int64
 5   OBS_VALUE           642 non-null    float64
 6   Observation status  642 non-null    object
 7   Unit multiplier     642 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 45.1+ KB

##### NOT FEEL SAFE (NEG)

In [112]:
not_feel_safe_df = wellbeing_df[wellbeing_df["Measure"] == "Not feeling safe at night"]

In [113]:
not_feel_safe_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 623 entries, 53 to 5369
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REF_AREA            623 non-null    object
 1   Reference area      623 non-null    object
 2   Measure             623 non-null    object
 3   Unit of measure     623 non-null    object
 4   TIME_PERIOD         623 non-null    int64
 5   OBS_VALUE           623 non-null    float64
 6   Observation status  623 non-null    object
 7   Unit multiplier     623 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 43.8+ KB

##### FEEL SAFE

In [115]:
feel_safe_df = wellbeing_df[wellbeing_df["Measure"] == "Feeling safe at night"]

In [116]:
feel_safe_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 675 entries, 68 to 5324
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REF_AREA            675 non-null    object
 1   Reference area      675 non-null    object
 2   Measure             675 non-null    object
 3   Unit of measure     675 non-null    object
 4   TIME_PERIOD         675 non-null    int64
 5   OBS_VALUE           675 non-null    float64
 6   Observation status  675 non-null    object
 7   Unit multiplier     675 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 47.5+ KB

In [117]:
feel_safe_df.head()

,REF_AREA,Reference area,Measure,Unit of measure,TIME_PERIOD,OBS_VALUE,Observation status,Unit multiplier
68,SVK,Slovak Republic,Feeling safe at night,Percentage of population aged 15 years or over,2016,65.331679,Normal value,Units
69,SVK,Slovak Republic,Feeling safe at night,Percentage of population aged 15 years or over,2017,69.671352,Normal value,Units
70,SVK,Slovak Republic,Feeling safe at night,Percentage of population aged 15 years or over,2018,69.671352,Normal value,Units
71,SVK,Slovak Republic,Feeling safe at night,Percentage of population aged 15 years or over,2019,69.671352,Normal value,Units
72,SVK,Slovak Republic,Feeling safe at night,Percentage of population aged 15 years or over,2020,78.012499,Normal value,Units

##### HEALTH NEGATIVE (NEG)

In [119]:
perceived_health_neg = wellbeing_df[wellbeing_df["Measure"] == "Perceived health as negative"]

In [120]:
perceived_health_neg.info()

<class 'pandas.core.frame.DataFrame'>
Index: 586 entries, 114 to 5378
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REF_AREA            586 non-null    object
 1   Reference area      586 non-null    object
 2   Measure             586 non-null    object
 3   Unit of measure     586 non-null    object
 4   TIME_PERIOD         586 non-null    int64
 5   OBS_VALUE           586 non-null    float64
 6   Observation status  586 non-null    object
 7   Unit multiplier     586 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 41.2+ KB

##### SOCIAL SUPPORT

In [122]:
social_support_df = wellbeing_df[wellbeing_df["Measure"] == "Social support"]

In [123]:
social_support_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 673 entries, 186 to 5381
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REF_AREA            673 non-null    object
 1   Reference area      673 non-null    object
 2   Measure             673 non-null    object
 3   Unit of measure     673 non-null    object
 4   TIME_PERIOD         673 non-null    int64
 5   OBS_VALUE           673 non-null    float64
 6   Observation status  673 non-null    object
 7   Unit multiplier     673 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 47.3+ KB

##### DEPRESSION (TO FEW)

In [125]:
self_rep_depression_df = wellbeing_df[wellbeing_df["Measure"] == "Self-reported depression"]

In [126]:
self_rep_depression_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49 entries, 251 to 5382
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REF_AREA            49 non-null     object
 1   Reference area      49 non-null     object
 2   Measure             49 non-null     object
 3   Unit of measure     49 non-null     object
 4   TIME_PERIOD         49 non-null     int64
 5   OBS_VALUE           49 non-null     float64
 6   Observation status  49 non-null     object
 7   Unit multiplier     49 non-null     object
dtypes: float64(1), int64(1), object(6)
memory usage: 3.4+ KB

##### DEATHS OF SUICIDE, ALCOHOL and DRUGS

In [128]:
deaths_suicide_alc_drug_df = wellbeing_df[wellbeing_df["Measure"] == "Deaths from suicide, alcohol, drugs"]

In [129]:
deaths_suicide_alc_drug_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 630 entries, 3866 to 5465
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REF_AREA            630 non-null    object
 1   Reference area      630 non-null    object
 2   Measure             630 non-null    object
 3   Unit of measure     630 non-null    object
 4   TIME_PERIOD         630 non-null    int64
 5   OBS_VALUE           630 non-null    float64
 6   Observation status  630 non-null    object
 7   Unit multiplier     630 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 44.3+ KB

In [130]:
all_unique = deaths_suicide_alc_drug_df["Reference area"].unique()

In [131]:
all_unique

array(['Ireland', 'Estonia', 'Spain', 'Slovenia', 'Australia', 'Hungary',
       'Czechia', 'Sweden', 'United States', 'Costa Rica', 'Norway',
       'France', 'South Africa', 'Brazil', 'Netherlands', 'Canada',
       'Chile', 'Poland', 'Iceland', 'New Zealand', 'Greece', 'Denmark',
       'Switzerland', 'Latvia', 'Luxembourg', 'Austria', 'Japan',
       'Trkiye', 'Israel', 'Mexico', 'Slovak Republic', 'Korea',
       'Lithuania', 'Belgium', 'Portugal', 'Germany', 'Colombia', 'Italy',
       'Finland', 'United Kingdom'], dtype=object)

In [132]:
print(len(all_unique))

40

## 2.4) Taxation data

### 2.4.1) European Comission total taxation of GDP

#### 2.4.1.1) Renaming column with countries to Reference area

In [136]:
total_taxes_df.rename(columns = {"Unnamed: 0": "Reference area"}, inplace=True)

In [137]:
total_taxes_df.head()

,Reference area,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,Difference 2012-2022 (pp),Ranking 2022,Revenue 2022\n(million EUR)
0,EU-27,37.922746,38.345385,39.301449,39.787250,39.865975,39.730539,39.843225,39.930718,40.054073,39.944737,40.002493,40.395208,40.161307,0.9,NaN,6387768.3
1,EA-19,38.101209,38.586230,39.615106,40.116221,40.179571,40.061478,40.104618,40.241508,40.427915,40.296537,40.357165,40.786176,40.841225,1.2,NaN,5482502.8
2,Belgium,43.580535,44.369598,45.319126,46.033293,45.683596,44.991570,44.213578,44.747951,44.824441,43.467108,43.411264,43.166396,43.268219,-2.0,2.0,239725.1
3,Bulgaria,25.398276,25.477641,26.078859,28.132118,28.399268,28.863177,29.184384,29.840882,29.683558,30.353742,30.498298,30.785349,31.145084,5.0,23.0,26722.7
4,Czechia,32.854823,33.975879,34.497486,34.897577,34.136013,34.288463,35.075928,35.402552,35.972707,35.907027,35.923476,35.890107,35.287515,0.8,17.0,97487.3

#### 2.4.1.2) Reshaping (melting) the table, so that year is one column and country and year together identify a row

In [139]:
total_tax_melted_df = pd.melt(total_taxes_df, id_vars=["Reference area"], var_name = "Year", value_name = "Taxation")
total_tax_melted_df.head()

  Reference area  Year   Taxation
0          EU-27  2010  37.922746
1          EA-19  2010  38.101209
2        Belgium  2010  43.580535
3       Bulgaria  2010  25.398276
4        Czechia  2010  32.854823

In [140]:
total_tax_melted_df.isna().sum()

Reference area     64
Year                0
Taxation          100
dtype: int64

In [141]:
df_2023 = total_tax_melted_df[total_tax_melted_df["Year"]== "2021"]
df_2023.head()

    Reference area  Year   Taxation
407          EU-27  2021  40.395208
408          EA-19  2021  40.786176
409        Belgium  2021  43.166396
410       Bulgaria  2021  30.785349
411        Czechia  2021  35.890107

# 3) Collecting data frames

## 3.1) All data frames listed

In [144]:

list_of_dfs= []

list_of_dfs.append(social_exp_eu_usa_aus)
list_of_dfs.append(gdp_1970_defl_simple)
list_of_dfs.append(feel_safe_df)
list_of_dfs.append(percivd_health_pos_df)

world_happiness_2023.rename(columns={"year":"TIME_PERIOD"}, inplace=True)

list_of_dfs.append(world_happiness_2023)

In [145]:
for df in list_of_dfs:
    df.rename(columns={"TIME_PERIOD": "Year"}, inplace=True)

C:\Users\acm11\AppData\Local\Temp\ipykernel_7940\2293846155.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"TIME_PERIOD": "Year"}, inplace=True)

In [146]:
world_happiness_2023.head()

,Country name,Year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.723590,7.350416,0.450662,50.500000,0.718114,0.167652,0.881686,0.414297,0.258195
1,Afghanistan,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.190809,0.850035,0.481421,0.237092
2,Afghanistan,2010,4.758381,7.613900,0.539075,51.099998,0.600127,0.121316,0.706766,0.516907,0.275324
3,Afghanistan,2011,3.831719,7.581259,0.521104,51.400002,0.495901,0.163571,0.731109,0.479835,0.267175
4,Afghanistan,2012,3.782938,7.660506,0.520637,51.700001,0.530935,0.237588,0.775620,0.613513,0.267919

In [147]:
world_happiness_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2199 entries, 0 to 2198
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country name                      2199 non-null   object
 1   Year                              2199 non-null   int64
 2   Life Ladder                       2199 non-null   float64
 3   Log GDP per capita                2179 non-null   float64
 4   Social support                    2186 non-null   float64
 5   Healthy life expectancy at birth  2145 non-null   float64
 6   Freedom to make life choices      2166 non-null   float64
 7   Generosity                        2126 non-null   float64
 8   Perceptions of corruption         2083 non-null   float64
 9   Positive affect                   2175 non-null   float64
 10  Negative affect                   2183 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 189.1+ KB

## 3.2) Deleting all rows before 2005

In [149]:
social_exp_2005 = social_exp_eu_usa_aus[(social_exp_eu_usa_aus["Year"]>= 2005) & (social_exp_eu_usa_aus["Unit of measure"] == "Percentage of general government expenditure")]
gdp_defl_2005 = gdp_1970_defl_simple[gdp_1970_defl_simple["Year"]>= 2005]
feel_safe_2005 = feel_safe_df[feel_safe_df["Year"]>= 2005]
percivd_health_2005 = percivd_health_pos_df[percivd_health_pos_df["Year"]>= 2005]
world_happiness_2005 = world_happiness_2023[world_happiness_2023["Year"]>= 2005]

In [150]:
all_unit_of_measure = social_exp_2005["Unit of measure"].unique()
print(all_unit_of_measure)

['Percentage of general government expenditure']

In [151]:
social_exp_2005.info()

<class 'pandas.core.frame.DataFrame'>
Index: 467 entries, 0 to 1814
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REF_AREA            467 non-null    object
 1   Reference area      467 non-null    object
 2   Measure             467 non-null    object
 3   Unit of measure     467 non-null    object
 4   Expenditure source  467 non-null    object
 5   Spending type       467 non-null    object
 6   Programme type      467 non-null    object
 7   Year                467 non-null    int64
 8   OBS_VALUE           467 non-null    float64
 9   OBS_STATUS          467 non-null    object
 10  Observation status  467 non-null    object
 11  Unit multiplier     467 non-null    object
dtypes: float64(1), int64(1), object(10)
memory usage: 47.4+ KB

In [152]:
gdp_defl_2005.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1171 entries, 0 to 2623
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   REF_AREA              1171 non-null   object
 1   Reference area        1171 non-null   object
 2   Institutional sector  1171 non-null   object
 3   Transaction           1171 non-null   object
 4   Unit of measure       1171 non-null   object
 5   Price base            1171 non-null   object
 6   Year                  1171 non-null   int64
 7   OBS_VALUE             1171 non-null   float64
 8   OBS_STATUS            1171 non-null   object
 9   Observation status    1171 non-null   object
 10  Unit multiplier       1171 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 109.8+ KB

In [153]:
feel_safe_2005.info()

<class 'pandas.core.frame.DataFrame'>
Index: 675 entries, 68 to 5324
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REF_AREA            675 non-null    object
 1   Reference area      675 non-null    object
 2   Measure             675 non-null    object
 3   Unit of measure     675 non-null    object
 4   Year                675 non-null    int64
 5   OBS_VALUE           675 non-null    float64
 6   Observation status  675 non-null    object
 7   Unit multiplier     675 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 47.5+ KB

In [154]:
percivd_health_2005.info()

<class 'pandas.core.frame.DataFrame'>
Index: 570 entries, 0 to 5374
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REF_AREA            570 non-null    object
 1   Reference area      570 non-null    object
 2   Measure             570 non-null    object
 3   Unit of measure     570 non-null    object
 4   Year                570 non-null    int64
 5   OBS_VALUE           570 non-null    float64
 6   Observation status  570 non-null    object
 7   Unit multiplier     570 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 40.1+ KB

In [155]:
world_happiness_2005.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2199 entries, 0 to 2198
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country name                      2199 non-null   object
 1   Year                              2199 non-null   int64
 2   Life Ladder                       2199 non-null   float64
 3   Log GDP per capita                2179 non-null   float64
 4   Social support                    2186 non-null   float64
 5   Healthy life expectancy at birth  2145 non-null   float64
 6   Freedom to make life choices      2166 non-null   float64
 7   Generosity                        2126 non-null   float64
 8   Perceptions of corruption         2083 non-null   float64
 9   Positive affect                   2175 non-null   float64
 10  Negative affect                   2183 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 189.1+ KB

In [156]:
world_happiness_2005.describe()

,Year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
count,2199.000000,2199.000000,2179.000000,2186.000000,2145.000000,2166.000000,2126.000000,2083.000000,2175.000000,2183.000000
mean,2014.161437,5.479226,9.389766,0.810679,63.294583,0.747858,0.000096,0.745195,0.652143,0.271501
std,4.718736,1.125529,1.153387,0.120952,6.901104,0.140150,0.161083,0.185837,0.105922,0.086875
min,2005.000000,1.281271,5.526723,0.228217,6.720000,0.257534,-0.337527,0.035198,0.178886,0.082737
25%,2010.000000,4.646750,8.499764,0.746609,59.119999,0.656528,-0.112116,0.688139,0.571684,0.207660
50%,2014.000000,5.432437,9.498955,0.835535,65.050003,0.769821,-0.022671,0.799654,0.663063,0.260671
75%,2018.000000,6.309460,10.373216,0.904792,68.500000,0.859382,0.092070,0.868827,0.737936,0.322894
max,2022.000000,8.018934,11.663788,0.987343,74.474998,0.985178,0.702708,0.983276,0.883586,0.704590

In [157]:
world_happiness_2005.head()

,Country name,Year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.723590,7.350416,0.450662,50.500000,0.718114,0.167652,0.881686,0.414297,0.258195
1,Afghanistan,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.190809,0.850035,0.481421,0.237092
2,Afghanistan,2010,4.758381,7.613900,0.539075,51.099998,0.600127,0.121316,0.706766,0.516907,0.275324
3,Afghanistan,2011,3.831719,7.581259,0.521104,51.400002,0.495901,0.163571,0.731109,0.479835,0.267175
4,Afghanistan,2012,3.782938,7.660506,0.520637,51.700001,0.530935,0.237588,0.775620,0.613513,0.267919

## 3.3) Checking for Observation status and deleting all non-normal status

#### 3.3.1) Social expenditure

In [160]:
obs_stat_social = social_exp_2005["Observation status"].unique()
print(obs_stat_social)

['Normal value']

#### 3.3.2) GDP

In [162]:
obs2 = gdp_defl_2005["Observation status"].unique()
print(obs2)

obs2_counts = gdp_defl_2005["Observation status"].value_counts()
print("Counts of each unique value:\n", obs2_counts)

['Normal value' 'Provisional value' 'Estimated value' 'Definition differs'
 'Time series break']
Counts of each unique value:
 Observation status
Normal value          1087
Estimated value         44
Provisional value       37
Definition differs       2
Time series break        1
Name: count, dtype: int64

In [163]:
gdp_no_etimated = gdp_defl_2005[gdp_defl_2005["Observation status"]!= "Estimated value"]
gdp_no_etimated1 = gdp_no_etimated[gdp_no_etimated["Observation status"]!= "Provisional value"]
gdp_no_etimated2 = gdp_no_etimated1[gdp_no_etimated1["Observation status"]!= "Definition differs"]
gdp_no_etimated3 = gdp_no_etimated2[gdp_no_etimated2["Observation status"]!= "Time series break"]

In [164]:
obs3_counts = gdp_no_etimated3["Observation status"].value_counts()
print(obs3_counts)

Observation status
Normal value    1087
Name: count, dtype: int64

#### 3.3.3) Feel safe

In [166]:
obs3 = feel_safe_2005["Observation status"].unique()
print(obs3)

['Normal value']

#### 3.3.4) Perceived health

In [168]:
obs4 = percivd_health_2005["Observation status"].unique()
print(obs4)
obs4_counts = percivd_health_2005["Observation status"].value_counts()
print(obs4_counts)

['Normal value' 'Definition differs' 'Time series break']
Observation status
Normal value          497
Definition differs     62
Time series break      11
Name: count, dtype: int64

In [169]:
percvd_health_clean1 = percivd_health_2005[percivd_health_2005["Observation status"]!= "Definition differs"]
percvd_health_clean2 = percvd_health_clean1[percvd_health_clean1["Observation status"]!= "Time series break"]
obs_counts4 = percvd_health_clean2 ["Observation status"].value_counts()
print(obs_counts4)

Observation status
Normal value    497
Name: count, dtype: int64

## 3.4) Removing null and na values and duplicates

#### 3.4.1) Social expenditure

In [172]:
social_exp_2005.isna().sum()

REF_AREA              0
Reference area        0
Measure               0
Unit of measure       0
Expenditure source    0
Spending type         0
Programme type        0
Year                  0
OBS_VALUE             0
OBS_STATUS            0
Observation status    0
Unit multiplier       0
dtype: int64

In [173]:
social_exp_clean_df = social_exp_2005.drop_duplicates()
social_exp_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 467 entries, 0 to 1814
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REF_AREA            467 non-null    object
 1   Reference area      467 non-null    object
 2   Measure             467 non-null    object
 3   Unit of measure     467 non-null    object
 4   Expenditure source  467 non-null    object
 5   Spending type       467 non-null    object
 6   Programme type      467 non-null    object
 7   Year                467 non-null    int64
 8   OBS_VALUE           467 non-null    float64
 9   OBS_STATUS          467 non-null    object
 10  Observation status  467 non-null    object
 11  Unit multiplier     467 non-null    object
dtypes: float64(1), int64(1), object(10)
memory usage: 47.4+ KB

#### 3.4.2) GDP

In [175]:
gdp_no_etimated3.isna().sum()

REF_AREA                0
Reference area          0
Institutional sector    0
Transaction             0
Unit of measure         0
Price base              0
Year                    0
OBS_VALUE               0
OBS_STATUS              0
Observation status      0
Unit multiplier         0
dtype: int64

In [176]:
gdp_clean_df = gdp_no_etimated3.drop_duplicates()
gdp_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1087 entries, 0 to 2623
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   REF_AREA              1087 non-null   object
 1   Reference area        1087 non-null   object
 2   Institutional sector  1087 non-null   object
 3   Transaction           1087 non-null   object
 4   Unit of measure       1087 non-null   object
 5   Price base            1087 non-null   object
 6   Year                  1087 non-null   int64
 7   OBS_VALUE             1087 non-null   float64
 8   OBS_STATUS            1087 non-null   object
 9   Observation status    1087 non-null   object
 10  Unit multiplier       1087 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 101.9+ KB

#### 3.4.3) Feel safe

In [178]:
feel_safe_2005.isna().sum()

REF_AREA              0
Reference area        0
Measure               0
Unit of measure       0
Year                  0
OBS_VALUE             0
Observation status    0
Unit multiplier       0
dtype: int64

In [179]:
feel_safe_clean_df = feel_safe_2005.drop_duplicates()
feel_safe_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 675 entries, 68 to 5324
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REF_AREA            675 non-null    object
 1   Reference area      675 non-null    object
 2   Measure             675 non-null    object
 3   Unit of measure     675 non-null    object
 4   Year                675 non-null    int64
 5   OBS_VALUE           675 non-null    float64
 6   Observation status  675 non-null    object
 7   Unit multiplier     675 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 47.5+ KB

#### 3.4.4) Perceived health

In [181]:
percvd_health_clean2.isna().sum()

REF_AREA              0
Reference area        0
Measure               0
Unit of measure       0
Year                  0
OBS_VALUE             0
Observation status    0
Unit multiplier       0
dtype: int64

In [182]:
percvd_health_clean_df = percvd_health_clean2.drop_duplicates()
percvd_health_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 497 entries, 0 to 5374
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   REF_AREA            497 non-null    object
 1   Reference area      497 non-null    object
 2   Measure             497 non-null    object
 3   Unit of measure     497 non-null    object
 4   Year                497 non-null    int64
 5   OBS_VALUE           497 non-null    float64
 6   Observation status  497 non-null    object
 7   Unit multiplier     497 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 34.9+ KB

#### 3.4.5) World happiness

In [184]:
world_happiness_2005.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2199 entries, 0 to 2198
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country name                      2199 non-null   object
 1   Year                              2199 non-null   int64
 2   Life Ladder                       2199 non-null   float64
 3   Log GDP per capita                2179 non-null   float64
 4   Social support                    2186 non-null   float64
 5   Healthy life expectancy at birth  2145 non-null   float64
 6   Freedom to make life choices      2166 non-null   float64
 7   Generosity                        2126 non-null   float64
 8   Perceptions of corruption         2083 non-null   float64
 9   Positive affect                   2175 non-null   float64
 10  Negative affect                   2183 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 189.1+ KB

In [185]:
world_happiness_2005.isna().sum()

Country name                          0
Year                                  0
Life Ladder                           0
Log GDP per capita                   20
Social support                       13
Healthy life expectancy at birth     54
Freedom to make life choices         33
Generosity                           73
Perceptions of corruption           116
Positive affect                      24
Negative affect                      16
dtype: int64

In [186]:
world_happiness_2005.drop(columns = ["Negative affect"], inplace=True)

In [187]:
world_happiness_2005.isna().sum()

Country name                          0
Year                                  0
Life Ladder                           0
Log GDP per capita                   20
Social support                       13
Healthy life expectancy at birth     54
Freedom to make life choices         33
Generosity                           73
Perceptions of corruption           116
Positive affect                      24
dtype: int64

In [188]:
world_happiness_no_na = world_happiness_2005.dropna()
world_happiness_no_na.isna().sum()

Country name                        0
Year                                0
Life Ladder                         0
Log GDP per capita                  0
Social support                      0
Healthy life expectancy at birth    0
Freedom to make life choices        0
Generosity                          0
Perceptions of corruption           0
Positive affect                     0
dtype: int64

In [189]:
world_happiness_no_na.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1959 entries, 0 to 2198
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country name                      1959 non-null   object
 1   Year                              1959 non-null   int64
 2   Life Ladder                       1959 non-null   float64
 3   Log GDP per capita                1959 non-null   float64
 4   Social support                    1959 non-null   float64
 5   Healthy life expectancy at birth  1959 non-null   float64
 6   Freedom to make life choices      1959 non-null   float64
 7   Generosity                        1959 non-null   float64
 8   Perceptions of corruption         1959 non-null   float64
 9   Positive affect                   1959 non-null   float64
dtypes: float64(8), int64(1), object(1)
memory usage: 168.4+ KB

In [190]:
world_happiness_clean_df = world_happiness_no_na.drop_duplicates()

In [191]:
world_happiness_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1959 entries, 0 to 2198
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country name                      1959 non-null   object
 1   Year                              1959 non-null   int64
 2   Life Ladder                       1959 non-null   float64
 3   Log GDP per capita                1959 non-null   float64
 4   Social support                    1959 non-null   float64
 5   Healthy life expectancy at birth  1959 non-null   float64
 6   Freedom to make life choices      1959 non-null   float64
 7   Generosity                        1959 non-null   float64
 8   Perceptions of corruption         1959 non-null   float64
 9   Positive affect                   1959 non-null   float64
dtypes: float64(8), int64(1), object(1)
memory usage: 168.4+ KB

#### 3.4.6) Unemployment

In [193]:
unempl_euro_melted_df.isna().sum()

geo                                            0
TIME_PERIOD                                    0
Unemployment as percentage of labour force    15
dtype: int64

In [194]:
unempl_no_na = unempl_euro_melted_df.dropna()
unempl_no_na.isna().sum()

geo                                           0
TIME_PERIOD                                   0
Unemployment as percentage of labour force    0
dtype: int64

In [195]:
unempl_clean_df = unempl_euro_melted_df.drop_duplicates()
unempl_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 444 entries, 0 to 443
Data columns (total 3 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   geo                                         444 non-null    object
 1   TIME_PERIOD                                 444 non-null    object
 2   Unemployment as percentage of labour force  429 non-null    object
dtypes: object(3)
memory usage: 10.5+ KB

## 3.6) Removing all unecessary columns and aligning column names before merging

### 3.6.1) Social expenditure

In [198]:
social_exp_clean_df.head()

,REF_AREA,Reference area,Measure,Unit of measure,Expenditure source,Spending type,Programme type,Year,OBS_VALUE,OBS_STATUS,Observation status,Unit multiplier
0,HUN,Hungary,Social expenditure,Percentage of general government expenditure,Public,Total,Total,2014,42.619,A,Normal value,Units
1,HUN,Hungary,Social expenditure,Percentage of general government expenditure,Public,Total,Total,2015,40.403,A,Normal value,Units
2,HUN,Hungary,Social expenditure,Percentage of general government expenditure,Public,Total,Total,2016,43.110,A,Normal value,Units
3,HUN,Hungary,Social expenditure,Percentage of general government expenditure,Public,Total,Total,2017,41.605,A,Normal value,Units
4,HUN,Hungary,Social expenditure,Percentage of general government expenditure,Public,Total,Total,2018,40.342,A,Normal value,Units

In [199]:
social_exp_clean_df.rename(columns={'OBS_VALUE': 'Social expenditure as % of general gorvernment expenditure', "Year": "TIME_PERIOD"}, inplace=True)

In [200]:
social_exp_clean_df.drop(columns = ["Measure", "Unit of measure", "Expenditure source", "Spending type", "Programme type", "Observation status", "Unit multiplier", "OBS_STATUS"], inplace=True)

In [201]:
social_exp_clean_df.head()

,REF_AREA,Reference area,TIME_PERIOD,Social expenditure as % of general gorvernment expenditure
0,HUN,Hungary,2014,42.619
1,HUN,Hungary,2015,40.403
2,HUN,Hungary,2016,43.110
3,HUN,Hungary,2017,41.605
4,HUN,Hungary,2018,40.342

### 3.6.2) Feel safe

In [203]:
feel_safe_clean_df.head()

,REF_AREA,Reference area,Measure,Unit of measure,Year,OBS_VALUE,Observation status,Unit multiplier
68,SVK,Slovak Republic,Feeling safe at night,Percentage of population aged 15 years or over,2016,65.331679,Normal value,Units
69,SVK,Slovak Republic,Feeling safe at night,Percentage of population aged 15 years or over,2017,69.671352,Normal value,Units
70,SVK,Slovak Republic,Feeling safe at night,Percentage of population aged 15 years or over,2018,69.671352,Normal value,Units
71,SVK,Slovak Republic,Feeling safe at night,Percentage of population aged 15 years or over,2019,69.671352,Normal value,Units
72,SVK,Slovak Republic,Feeling safe at night,Percentage of population aged 15 years or over,2020,78.012499,Normal value,Units

In [204]:
feel_safe_clean_df.rename(columns={'OBS_VALUE': 'Feeling safe at night as % percentage of population 15 years or older', "Year": "TIME_PERIOD"}, inplace=True)
feel_safe_clean_df.drop(columns = ["Measure", "Unit of measure", "Observation status", "Unit multiplier"], inplace=True)
feel_safe_clean_df.head()

,REF_AREA,Reference area,TIME_PERIOD,Feeling safe at night as % percentage of population 15 years or older
68,SVK,Slovak Republic,2016,65.331679
69,SVK,Slovak Republic,2017,69.671352
70,SVK,Slovak Republic,2018,69.671352
71,SVK,Slovak Republic,2019,69.671352
72,SVK,Slovak Republic,2020,78.012499

### 3.6.3) Percieved health

In [206]:
percvd_health_clean_df.head()

,REF_AREA,Reference area,Measure,Unit of measure,Year,OBS_VALUE,Observation status,Unit multiplier
0,LVA,Latvia,Perceived health as positive,Percentage of population aged 16 years or over,2017,44.2,Normal value,Units
1,LVA,Latvia,Perceived health as positive,Percentage of population aged 16 years or over,2018,46.9,Normal value,Units
2,LVA,Latvia,Perceived health as positive,Percentage of population aged 16 years or over,2019,47.1,Normal value,Units
3,LVA,Latvia,Perceived health as positive,Percentage of population aged 16 years or over,2020,49.7,Normal value,Units
4,LVA,Latvia,Perceived health as positive,Percentage of population aged 16 years or over,2021,49.8,Normal value,Units

In [207]:
world_happiness_clean_df.head()

,Country name,Year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect
0,Afghanistan,2008,3.723590,7.350416,0.450662,50.500000,0.718114,0.167652,0.881686,0.414297
1,Afghanistan,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.190809,0.850035,0.481421
2,Afghanistan,2010,4.758381,7.613900,0.539075,51.099998,0.600127,0.121316,0.706766,0.516907
3,Afghanistan,2011,3.831719,7.581259,0.521104,51.400002,0.495901,0.163571,0.731109,0.479835
4,Afghanistan,2012,3.782938,7.660506,0.520637,51.700001,0.530935,0.237588,0.775620,0.613513

In [208]:
unempl_clean_df.head()

  geo TIME_PERIOD Unemployment as percentage of labour force
0  AT       2012                                        5.2
1  BA       2012                                         NaN
2  BE       2012                                        7.6
3  BG       2012                                       13.3
4  CH       2012                                        4.5

## 3.7) Merging data frames

In [210]:
social_exp_clean_df
feel_safe_clean_df
percvd_health_clean_df
world_happiness_clean_df
unempl_clean_df

    geo TIME_PERIOD Unemployment as percentage of labour force
0    AT       2012                                        5.2
1    BA       2012                                         NaN
2    BE       2012                                        7.6
3    BG       2012                                       13.3
4    CH       2012                                        4.5
..   ..         ...                                        ...
439  RS        2023                                        9.5
440  SE        2023                                        7.7
441  SI        2023                                        3.7
442  SK        2023                                        5.8
443  TR        2023                                        9.4

[444 rows x 3 columns]

In [211]:
unempl_clean_df.dropna(inplace=True)

In [212]:
unempl_clean_df.isna().sum()

geo                                           0
TIME_PERIOD                                   0
Unemployment as percentage of labour force    0
dtype: int64

In [213]:
unempl_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 429 entries, 0 to 443
Data columns (total 3 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   geo                                         429 non-null    object
 1   TIME_PERIOD                                 429 non-null    object
 2   Unemployment as percentage of labour force  429 non-null    object
dtypes: object(3)
memory usage: 13.4+ KB

In [214]:
unempl_clean_df.head()

  geo TIME_PERIOD Unemployment as percentage of labour force
0  AT       2012                                        5.2
2  BE       2012                                        7.6
3  BG       2012                                       13.3
4  CH       2012                                        4.5
5  CY       2012                                       11.9

In [215]:
#unempl_clean_df.sort_values(by="TIME_PERIOD", inplace=True)
#unempl_clean_df.head()

In [216]:
country_mapping = {country.alpha_2: country.name for country in pycountry.countries}

# Replace abbreviations with full country names
unempl_clean_df['geo'] = unempl_clean_df['geo'].replace(country_mapping)
unempl_clean_df.head()

           geo TIME_PERIOD Unemployment as percentage of labour force
0      Austria       2012                                        5.2
2      Belgium       2012                                        7.6
3     Bulgaria       2012                                       13.3
4  Switzerland       2012                                        4.5
5       Cyprus       2012                                       11.9

In [217]:
geo_unique = unempl_clean_df["geo"].value_counts()
print(geo_unique)

geo
Austria                   12
Poland                    12
Lithuania                 12
Luxembourg                12
Latvia                    12
Malta                     12
Netherlands               12
Norway                    12
Portugal                  12
Belgium                   12
Romania                   12
Serbia                    12
Sweden                    12
Slovenia                  12
Slovakia                  12
Trkiye                   12
Italy                     12
Iceland                   12
Ireland                   12
Estonia                   12
Bulgaria                  12
Switzerland               12
Cyprus                    12
Czechia                   12
Germany                   12
Denmark                   12
EA20                      12
EL                        12
Hungary                   12
Spain                     12
EU27_2020                 12
Finland                   12
France                    12
Croatia                   12
North Macedonia            9
Montenegro                 9
Bosnia and Herzegovina     3
Name: count, dtype: int64

In [218]:
unempl_clean_df.isna().sum()

geo                                           0
TIME_PERIOD                                   0
Unemployment as percentage of labour force    0
dtype: int64

In [219]:
world_happiness_clean_df.head()

,Country name,Year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect
0,Afghanistan,2008,3.723590,7.350416,0.450662,50.500000,0.718114,0.167652,0.881686,0.414297
1,Afghanistan,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.190809,0.850035,0.481421
2,Afghanistan,2010,4.758381,7.613900,0.539075,51.099998,0.600127,0.121316,0.706766,0.516907
3,Afghanistan,2011,3.831719,7.581259,0.521104,51.400002,0.495901,0.163571,0.731109,0.479835
4,Afghanistan,2012,3.782938,7.660506,0.520637,51.700001,0.530935,0.237588,0.775620,0.613513

In [220]:
world_happiness_clean_df.rename(columns = {"Year": "TIME_PERIOD", "Country name": "Reference area"}, inplace=True)
world_happiness_clean_df.head()

,Reference area,TIME_PERIOD,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect
0,Afghanistan,2008,3.723590,7.350416,0.450662,50.500000,0.718114,0.167652,0.881686,0.414297
1,Afghanistan,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.190809,0.850035,0.481421
2,Afghanistan,2010,4.758381,7.613900,0.539075,51.099998,0.600127,0.121316,0.706766,0.516907
3,Afghanistan,2011,3.831719,7.581259,0.521104,51.400002,0.495901,0.163571,0.731109,0.479835
4,Afghanistan,2012,3.782938,7.660506,0.520637,51.700001,0.530935,0.237588,0.775620,0.613513

In [221]:
df_hungary = world_happiness_clean_df[world_happiness_clean_df["Reference area"]=="Hungary"]
df_hungary.iloc[1:15]

,Reference area,TIME_PERIOD,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect
807,Hungary,2009,4.894600,10.092547,0.900874,65.639999,0.464373,-0.128532,0.914701,0.575200
808,Hungary,2010,4.725132,10.105513,0.895694,65.800003,0.513835,-0.148766,0.983276,0.574386
809,Hungary,2011,4.917603,10.126842,0.893662,65.959999,0.631100,-0.092765,0.939908,0.586092
810,Hungary,2012,4.683358,10.119426,0.906114,66.120003,0.569232,-0.139944,0.930297,0.581949
811,Hungary,2013,4.914467,10.140044,0.877318,66.279999,0.673728,-0.116701,0.911533,0.646606
812,Hungary,2014,5.180563,10.184189,0.844735,66.440002,0.494475,-0.153601,0.855361,0.577917
813,Hungary,2015,5.344383,10.222970,0.858734,66.599998,0.557721,-0.201611,0.907530,0.649912
814,Hungary,2016,5.448902,10.247692,0.899512,66.750000,0.553952,-0.190679,0.924186,0.589962
815,Hungary,2017,6.065039,10.292184,0.876748,66.900002,0.661166,-0.143131,0.886361,0.643605
816,Hungary,2018,5.935771,10.345686,0.940591,67.050003,0.692627,-0.246665,0.911277,0.594677
817,Hungary,2019,6.000260,10.393574,0.946516,67.199997,0.798041,-0.198928,0.883571,0.652893
818,Hungary,2020,6.038050,10.349186,0.943400,67.349998,0.770968,-0.125336,0.836105,0.661645
819,Hungary,2021,6.226648,10.422077,0.947892,67.500000,0.727490,-0.044104,0.831555,0.668149
820,Hungary,2022,5.861183,10.484207,0.937059,67.650002,0.775502,-0.008475,0.848249,0.628221

In [222]:
social_exp_clean_df.drop(columns="REF_AREA", inplace=True)

In [223]:
social_exp_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 467 entries, 0 to 1814
Data columns (total 3 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Reference area                                              467 non-null    object
 1   TIME_PERIOD                                                 467 non-null    int64
 2   Social expenditure as % of general gorvernment expenditure  467 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 14.6+ KB

### 3.7.1) First test: social_expenditure and feeling safe at night

In [225]:
merged_df1 = pd.merge(social_exp_clean_df, feel_safe_clean_df, on =['Reference area', 'TIME_PERIOD'], how='inner') 
merged_df1.head()

,Reference area,TIME_PERIOD,Social expenditure as % of general gorvernment expenditure,REF_AREA,Feeling safe at night as % percentage of population 15 years or older
0,Hungary,2014,42.619,HUN,54.841674
1,Hungary,2015,40.403,HUN,54.841674
2,Hungary,2016,43.110,HUN,54.841674
3,Hungary,2017,41.605,HUN,68.892288
4,Hungary,2018,40.342,HUN,68.892288

In [226]:
merged_df1.isna().sum()

Reference area                                                           0
TIME_PERIOD                                                              0
Social expenditure as % of general gorvernment expenditure               0
REF_AREA                                                                 0
Feeling safe at night as % percentage of population 15 years or older    0
dtype: int64

ref_area = merged_df1["TIME_PERIOD"].value_counts()
print(ref_area)

### 3.7.2) Happiness and social expenditure

In [229]:
merged_df2 = pd.merge(social_exp_clean_df, world_happiness_clean_df, on =['Reference area', 'TIME_PERIOD'], how='inner') 
merged_df2.head()

,Reference area,TIME_PERIOD,Social expenditure as % of general gorvernment expenditure,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect
0,Hungary,2014,42.619,5.180563,10.184189,0.844735,66.440002,0.494475,-0.153601,0.855361,0.577917
1,Hungary,2015,40.403,5.344383,10.222970,0.858734,66.599998,0.557721,-0.201611,0.907530,0.649912
2,Hungary,2016,43.110,5.448902,10.247692,0.899512,66.750000,0.553952,-0.190679,0.924186,0.589962
3,Hungary,2017,41.605,6.065039,10.292184,0.876748,66.900002,0.661166,-0.143131,0.886361,0.643605
4,Hungary,2018,40.342,5.935771,10.345686,0.940591,67.050003,0.692627,-0.246665,0.911277,0.594677

In [230]:
merged_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 11 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Reference area                                              352 non-null    object
 1   TIME_PERIOD                                                 352 non-null    int64
 2   Social expenditure as % of general gorvernment expenditure  352 non-null    float64
 3   Life Ladder                                                 352 non-null    float64
 4   Log GDP per capita                                          352 non-null    float64
 5   Social support                                              352 non-null    float64
 6   Healthy life expectancy at birth                            352 non-null    float64
 7   Freedom to make life choices                                352 non-null    float64
 8   Generosity                                                  352 non-null    float64
 9   Perceptions of corruption                                   352 non-null    float64
 10  Positive affect                                             352 non-null    float64
dtypes: float64(9), int64(1), object(1)
memory usage: 30.4+ KB

In [231]:
merged_df2.sort_values(by="TIME_PERIOD", inplace=True)
merged_df2.iloc[:20]

,Reference area,TIME_PERIOD,Social expenditure as % of general gorvernment expenditure,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect
260,Austria,2006,51.732,7.122211,10.836452,0.936350,69.500000,0.941382,0.298436,0.490111,0.746153
247,Ireland,2006,47.199,7.144247,10.982106,0.967041,69.620003,0.943275,0.236722,0.472849,0.814785
169,France,2006,53.698,6.582700,10.654030,0.943929,70.800003,0.789121,0.122206,0.699270,0.694246
284,Latvia,2006,33.130,4.709502,10.042187,0.884499,63.099998,0.640807,-0.233600,0.937049,0.590247
76,Lithuania,2006,40.054,5.954443,10.042293,0.930440,63.500000,0.567255,-0.298515,0.966879,0.566560
141,Portugal,2006,47.833,5.405246,10.358528,0.905290,68.339996,0.882068,-0.182437,0.880059,0.646715
303,New Zealand,2006,51.605,7.305014,10.540810,0.946047,69.720001,0.932080,0.306320,0.224220,0.824703
181,Finland,2006,49.462,7.672449,10.745317,0.964563,68.720001,0.968580,-0.008802,0.132430,0.682819
30,Norway,2006,47.287,7.415682,11.048457,0.958511,69.400002,0.959533,0.102744,0.397150,0.766967
153,Switzerland,2006,47.832,7.473253,11.069195,0.951352,71.160004,0.918958,0.284541,0.407931,0.742094
39,Slovenia,2006,46.392,5.811265,10.398572,0.936075,68.559998,0.935824,0.038996,0.707798,0.608156
90,Estonia,2006,37.227,5.371055,10.268648,0.910064,65.779999,0.748576,-0.267635,0.796723,0.589018
118,Germany,2007,55.787,6.416820,10.760041,0.925938,69.940002,0.800878,0.162689,0.792179,0.646915
64,Belgium,2007,50.118,7.218840,10.791182,0.921603,68.720001,0.900870,0.065253,0.721093,0.743584
51,Italy,2007,51.306,6.574412,10.722309,0.912292,70.800003,0.684297,0.109598,0.922197,0.649948
239,United Kingdom,2007,46.977,6.801931,10.698805,0.969870,69.220001,0.838332,0.332059,0.498093,0.686200
333,Poland,2007,45.522,5.886137,9.972895,0.912640,66.559998,0.772223,-0.050560,0.925286,0.665473
321,Netherlands,2007,36.858,7.451880,10.876347,0.943854,70.779999,0.896018,0.340307,0.445437,0.718050
105,Israel,2007,35.067,6.841115,10.400063,0.868217,71.160004,0.682864,0.217239,0.867821,0.642079
310,Czechia,2007,42.921,6.500194,10.432828,0.899779,67.339996,0.798949,-0.067166,0.927871,0.659939

In [232]:
time_periods = merged_df2["TIME_PERIOD"].value_counts()
print(time_periods)

TIME_PERIOD
2012    29
2015    29
2016    29
2017    29
2014    28
2018    28
2013    27
2019    27
2011    26
2010    24
2008    21
2009    19
2007    18
2006    12
2020     5
2021     1
Name: count, dtype: int64

In [233]:
### 3.7.3) Unemployment added to Happiness and Social Expenditure data frame

In [405]:
unempl_clean_df.rename(columns={"geo":"Reference area"}, inplace=True)
unempl_clean_df.head()

  Reference area TIME_PERIOD Unemployment as percentage of labour force
0        Austria       2012                                        5.2
2        Belgium       2012                                        7.6
3       Bulgaria       2012                                       13.3
4    Switzerland       2012                                        4.5
5         Cyprus       2012                                       11.9

In [407]:
merged_df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 352 entries, 260 to 104
Data columns (total 11 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Reference area                                              352 non-null    object
 1   TIME_PERIOD                                                 352 non-null    int64
 2   Social expenditure as % of general gorvernment expenditure  352 non-null    float64
 3   Life Ladder                                                 352 non-null    float64
 4   Log GDP per capita                                          352 non-null    float64
 5   Social support                                              352 non-null    float64
 6   Healthy life expectancy at birth                            352 non-null    float64
 7   Freedom to make life choices                                352 non-null    float64
 8   Generosity                                                  352 non-null    float64
 9   Perceptions of corruption                                   352 non-null    float64
 10  Positive affect                                             352 non-null    float64
dtypes: float64(9), int64(1), object(1)
memory usage: 33.0+ KB

In [409]:
unempl_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 429 entries, 0 to 443
Data columns (total 3 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Reference area                              429 non-null    object
 1   TIME_PERIOD                                 429 non-null    object
 2   Unemployment as percentage of labour force  429 non-null    object
dtypes: object(3)
memory usage: 13.4+ KB

In [411]:
unempl_percent = unempl_clean_df["Unemployment as percentage of labour force"].value_counts()
print(unempl_percent)

Unemployment as percentage of labour force
6.8      11
6.1       8
5.6       7
5.0       7
4.8       7
         ..
21.8      1
11.8      1
19.5      1
7.2 b     1
9.4       1
Name: count, Length: 194, dtype: int64

In [549]:
unempl_clean_df = unempl_clean_df[unempl_clean_df['Unemployment as percentage of labour force'] != "9.9 b"]
unempl_clean_df = unempl_clean_df[unempl_clean_df['Unemployment as percentage of labour force'] != "6.7 b"]
unempl_clean_df = unempl_clean_df[unempl_clean_df['Unemployment as percentage of labour force'] != "6.0 b"]
unempl_clean_df = unempl_clean_df[unempl_clean_df['Unemployment as percentage of labour force'] != "7.2 b"]
unempl_clean_df = unempl_clean_df[unempl_clean_df['Unemployment as percentage of labour force'] != "5.8 b"]
unempl_clean_df = unempl_clean_df[unempl_clean_df['Unemployment as percentage of labour force'] != "10.6 b"]
unempl_clean_df = unempl_clean_df[unempl_clean_df['Unemployment as percentage of labour force'] != "5.2 b"]
unempl_clean_df = unempl_clean_df[unempl_clean_df['Unemployment as percentage of labour force'] != "6.6 b"]
unempl_clean_df = unempl_clean_df[unempl_clean_df['Unemployment as percentage of labour force'] != "3.3 b"]
unempl_clean_df = unempl_clean_df[unempl_clean_df['Unemployment as percentage of labour force'] != "3.7 b"]
unempl_clean_df = unempl_clean_df[unempl_clean_df['Unemployment as percentage of labour force'] != "5.5 b"]
unempl_clean_df = unempl_clean_df[unempl_clean_df['Unemployment as percentage of labour force'] != "14.9 b"]
unempl_clean_df = unempl_clean_df[unempl_clean_df['Unemployment as percentage of labour force'] != "7.9 d"]
unempl_clean_df = unempl_clean_df[unempl_clean_df['Unemployment as percentage of labour force'] != "6.2 b"]
unempl_clean_df = unempl_clean_df[unempl_clean_df['Unemployment as percentage of labour force'] != "11.2 b"]
unempl_clean_df = unempl_clean_df[unempl_clean_df['Unemployment as percentage of labour force'] != "12.0 b"]
unempl_clean_df = unempl_clean_df[unempl_clean_df['Unemployment as percentage of labour force'] != "12.0 d"]
unempl_clean_df = unempl_clean_df[unempl_clean_df['Unemployment as percentage of labour force'] != "13.0 d"]
unempl_clean_df = unempl_clean_df[unempl_clean_df['Unemployment as percentage of labour force'] != "7.3 d"]
unempl_clean_df = unempl_clean_df[unempl_clean_df['Unemployment as percentage of labour force'] != "5.1 b"]
unempl_clean_df = unempl_clean_df[unempl_clean_df['Unemployment as percentage of labour force'] != "12.2 d"]

In [551]:
unempl_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 407 entries, 0 to 443
Data columns (total 3 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Reference area                              407 non-null    object
 1   TIME_PERIOD                                 407 non-null    int64
 2   Unemployment as percentage of labour force  407 non-null    object
dtypes: int64(1), object(2)
memory usage: 12.7+ KB

In [555]:
unempl_clean_df['TIME_PERIOD'] = pd.to_numeric(unempl_clean_df['TIME_PERIOD'], errors='raise').astype('int64')

# Convert to float64 (if values contain decimals)
unempl_clean_df['Unemployment as percentage of labour force'] = pd.to_numeric(unempl_clean_df['Unemployment as percentage of labour force'], errors='raise').astype('float64')
unempl_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 407 entries, 0 to 443
Data columns (total 3 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Reference area                              407 non-null    object
 1   TIME_PERIOD                                 407 non-null    int64
 2   Unemployment as percentage of labour force  407 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 12.7+ KB

In [557]:
merged_df3 = pd.merge(unempl_clean_df, merged_df2, on =['Reference area', 'TIME_PERIOD'], how='inner') 
merged_df3.head()

,Reference area,TIME_PERIOD,Unemployment as percentage of labour force,Social expenditure as % of general gorvernment expenditure,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect
0,Austria,2012,5.2,53.914,7.400689,10.883644,0.945142,70.099998,0.919704,0.113814,0.770586,0.712150
1,Belgium,2012,7.6,49.511,6.935122,10.783341,0.927117,69.519997,0.855267,-0.054311,0.757573,0.718187
2,Switzerland,2012,4.5,47.434,7.776209,11.107383,0.946864,71.519997,0.945428,0.132033,0.323241,0.792705
3,Czechia,2012,7.0,44.450,6.334149,10.424900,0.912427,67.940002,0.739809,-0.157698,0.956800,0.634971
4,Germany,2012,5.1,54.901,6.702362,10.817224,0.926407,70.040001,0.904440,0.066589,0.679237,0.699049

In [559]:
merged_df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 12 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Reference area                                              173 non-null    object
 1   TIME_PERIOD                                                 173 non-null    int64
 2   Unemployment as percentage of labour force                  173 non-null    float64
 3   Social expenditure as % of general gorvernment expenditure  173 non-null    float64
 4   Life Ladder                                                 173 non-null    float64
 5   Log GDP per capita                                          173 non-null    float64
 6   Social support                                              173 non-null    float64
 7   Healthy life expectancy at birth                            173 non-null    float64
 8   Freedom to make life choices                                173 non-null    float64
 9   Generosity                                                  173 non-null    float64
 10  Perceptions of corruption                                   173 non-null    float64
 11  Positive affect                                             173 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 16.3+ KB